<fs-modal-default
    [showModal]="showModal"
    (hideModal)="closeModal()">
    <div class="productFormBox modalSizeB" [formGroup]="productForm">
        <div class="mrgB2">
            <h2 class="sizeA cl-green fontUp fontBold mrgB1">Editar data de vencimento</h2>
        </div>
        <div class="minHeightBox pdgT2 mrgB2">
            <div class="flex mrgB2 pdgT2">
                <mat-form-field class="wdFull">
                    <mat-label>Descrição</mat-label>
                    <input matInput [formControlName]="'description'" placeholder="Nome" type="text">
                </mat-form-field>
                <div class="pdg2"></div>
                <mat-form-field class="wdFull">
                    <mat-label>Código do produto</mat-label>
                    <input matInput [formControlName]="'product_code'" placeholder="Código" type="text">
                </mat-form-field>
            </div>
            <div class="productSearchBox pdgT1" [formGroup]="selectedCompany">
                <div class="form-group inputAnimated">
                    <select [formControlName]="'branchId'" class="fontBold" id="commissioned" required>
                        <option [value]="1" selected>FARMÁCIAS SÃO MIGUEL MATRIZ</option>
                        <option [value]="3">A CASA DO PERFUME LTDA.</option>
                        <option [value]="4">VIVA BEM COMERCIO FARMACEUTICO.</option>
                    </select>
                    <label class="form-label" for="commissioned">Selecione uma unidade</label>
                    <fa-icon [icon]="iconSolidService.faCaretDown" size="3x"
                             class="iconItem iconSizeF cl-gray-dark iconSelectField"></fa-icon>
                </div>
            </div>
            <div class="flex center pdgT2" >
                <div class="pdg2"></div>
                <div class="flex center pdgT2 form-group inputAnimated wdMax25">
                    <input [formControlName]="'newExpirationDate'" [dropSpecialCharacters]="false"  placeholder=""  type="text" mask="00/00/0000" autocomplete="off" required>
                    <label class="form-label" >Insira uma nova data</label>
                </div>
                <div class="pdg2"></div>
            </div>
        </div>
        <div class="borderTop">
            <div class="flex mrgT1 sub_div">
                <button (click)="closeModal()" class="btn btn-primary">Cancelar</button>
                <button (click)="setNewExpirationDate()"  class="btn btn-primary-bg mrgL20">Salvar</button>
            </div>
        </div>
    </div>
</fs-modal-default>
