.listBox{height: 275px;}
.listAlign{padding: 3px 5px;margin: 0;align-items: center;
    .item{overflow: hidden;
        &:nth-child(1){max-width: 485px;
            .cellItem{display: flex;align-items: center;width: 100%;min-height: 35px;
                &:nth-child(1){max-width: 155px;}
                &:nth-child(2){max-width: 330px;padding-left: 5px;border-Left: 1px solid var(--cl-gray-dark);margin-left: 5px;}
            }
            h3.cellItem:nth-child(2){border: none;}
        }
        &:nth-child(2){max-width: 35px;}
        &:nth-child(3){max-width: 80px;}
        &:nth-child(4){max-width: 80px;}
        &:nth-child(5){max-width: 80px;}
        &:nth-child(6){max-width: 80px;}
        &:nth-child(7){max-width: 70px;}
        &:nth-child(8){max-width: 95px;}
        &:nth-child(9){max-width: 70px;}
        &:nth-child(10){max-width: 65px;}
        &:nth-child(11){max-width: 85px;}
        &:nth-child(12){max-width: 90px;justify-content: flex-end;
            .iconItem{margin-left: 5px;
                &:first-child{margin-left: 0;}
            }
        }
        &.simOn{max-width: 56px;
            input{width: 100%;text-align: center;padding: 2px 0;background-color: var(--cl-gray);}
        }
        &.commissionItem{max-width: 70px;}
        &.selectItem{max-width: 85px;}
        &.resultItem{max-width: 60px;}
        &.simCompactOn{max-width: 65px}
        .iconStar{margin: 0 3px -2px 0;}
        .iconFlag{margin: 0 3px -2px 0;overflow: hidden;max-height: 16px;
            img{max-width: 16px;}
        }
        .form-group{
            select{padding: 2px 0;margin: 0;}
            .iconSelectField{top: 0;}
        }
    }
    h3.simOn{text-align: center;}
    span.simOn{text-align: right;}
}
.filterSimulationOff .listAlign .item.simOn{display: none;max-width: 0; margin: 0;}
.filterSimulationOn .listAlign .item.simOff{display: none;max-width: 0;margin: 0;}
.filterSimCompactOn .listAlign .item.simOn.simCompactOff{display: none;}
.filterSimCompactOff .listAlign .item.simOn.simCompactOn{display: none;}
