<div class="main login">
    <div class="container">
        <div class="topBlock">
            <div class="logoBox">
                <img src="assets/img/logo.png" alt="logo" class="">
            </div>
        </div>
        <div class="middleBlock login shdw1">
            <div class="contentBlock">
                <form [formGroup]="loginForm">
                    <div>
                        <mat-form-field class="wdFull">
                            <mat-label>Usuário</mat-label>
                            <input matInput [formControl]="user" placeholder="Usuário" type="text">
                            <mat-error *ngIf="user.hasError('required')">Este campo é necessário</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mrgB2">
                        <mat-form-field class="wdFull">
                            <mat-label>Senha</mat-label>
                            <input matInput [formControl]="password" placeholder="Senha" type="password">
                            <mat-error *ngIf="password.hasError('required')">Este campo é necessário</mat-error>
                        </mat-form-field>
                    </div>
<!--                    <a class="sizeD linkDefaut clickPlace" [routerLink]="['/password-reset']">Esqueci a Senha</a>-->
                    <div class="flex center mrgB2">
                        <button class="btn btn-primary-bg" (click)="login()">Entrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
