<div class="main">
    <div class="container">
        <div class="notificationBox bg-gray-light mrgB2">
            <div class="flex top pdg2">
                <h2 class="sizeA fontBold">Configurações</h2>
                <button (click)="downloadFile()" class="btn btn-primary-bg">Baixar guia da farmácia</button>
            </div>
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="Parametrização">
                    <div class="paramForm pdg2" [formGroup]="parametersConfigurationForm">
                        <div class="flexDesk">
                            <div class="wdFull mrgL2">
                                <mat-form-field class="wdFull">
                                    <mat-label>ST + Monofasico/isento/aliquota 0%</mat-label>
                                    <input  matInput [formControlName]="'icms1'" placeholder="ICMS" type="text">
                                    <mat-error *ngIf="parametersConfigurationForm.controls['icms1'].hasError('required')">Este campo é necessário</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="wdFull">
                                <mat-form-field class="wdFull">
                                    <mat-label>ICMS ST / PIS-COFINS tributado</mat-label>
                                    <input  matInput [formControlName]="'icms2'" placeholder="ICMS" type="text">
                                    <mat-error *ngIf="parametersConfigurationForm.controls['icms2'].hasError('required')">Este campo é necessário</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="wdFull">
                                <mat-form-field class="wdFull">
                                    <mat-label>ICMS tributado + monofásico</mat-label>
                                    <input  matInput [formControlName]="'icms3'" placeholder="ICMS" type="text">
                                    <mat-error *ngIf="parametersConfigurationForm.controls['icms3'].hasError('required')">Este campo é necessário</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="wdFull">
                                <mat-form-field class="wdFull">
                                    <mat-label>ICMS TRIBUTADO + PIS COFINS TRIBUTADO</mat-label>
                                    <input  matInput [formControlName]="'icms4'" placeholder="ICMS" type="text">
                                    <mat-error *ngIf="parametersConfigurationForm.controls['icms4'].hasError('required')">Este campo é necessário</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="flexDesk">
                            <div class="wdFull mrgL2">
                                <mat-form-field class="wdFull">
                                    <mat-label>IRRF</mat-label>
                                    <input  matInput [formControlName]="'irrf'" placeholder="IRRF" type="text">
                                    <mat-error *ngIf="parametersConfigurationForm.controls['irrf'].hasError('required')">Este campo é necessário</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="wdFull mrgL2">
                                <mat-form-field class="wdFull">
                                    <mat-label>IRRF Extra</mat-label>
                                    <input matInput [formControlName]="'irrfExtra'" placeholder="IRRF Extra" type="text">
                                    <mat-error *ngIf="parametersConfigurationForm.controls['irrfExtra'].hasError('required')">Este campo é necessário</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="wdFull mrgL2">
                                <mat-form-field class="wdFull">
                                    <mat-label>Contribuição Social</mat-label>
                                    <input matInput [formControlName]="'socialContribution'" placeholder="Contribuição Social" type="text">
                                    <mat-error *ngIf="parametersConfigurationForm.controls['socialContribution'].hasError('required')">Este campo é necessário</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="flexDesk">
                            <div class="wdFull mrgL2">
                                <mat-form-field class="wdFull">
                                    <mat-label>Vencimento a curto prazo</mat-label>
                                    <input  matInput [formControlName]="'shortExpirationDate'" placeholder="Dias que faltam para o vencimento" type="text">
                                    <mat-error *ngIf="parametersConfigurationForm.controls['shortExpirationDate'].hasError('required')">Este campo é necessário</mat-error>
                                </mat-form-field>
                                <div class="expirationDate shortTerm"></div>
                            </div>

                            <div class="wdFull mrgL2">
                                <mat-form-field class="wdFull">
                                    <mat-label>Vencimento a médio prazo</mat-label>
                                    <input matInput [formControlName]="'mediumExpirationDate'" placeholder="Dias que faltam para o vencimento" type="text">
                                    <mat-error *ngIf="parametersConfigurationForm.controls['mediumExpirationDate'].hasError('required')">Este campo é necessário</mat-error>
                                </mat-form-field>
                            <div class="expirationDate mediumTerm"></div>
                            </div>
                            <div class="wdFull mrgL2">
                                <mat-form-field class="wdFull">
                                    <mat-label>Vencimento a longo prazo</mat-label>
                                    <input matInput [formControlName]="'longExpirationDate'" placeholder="Dias que faltam para o vencimento" type="text">
                                    <mat-error *ngIf="parametersConfigurationForm.controls['longExpirationDate'].hasError('required')">Este campo é necessário</mat-error>
                                </mat-form-field>
                            <div class="expirationDate longTerm"></div>
                            </div>
                        </div>
                        <div class="flex end pdgT2">
                            <button class="btn btn-primary-bg" (click)="saveParameters()">Salvar</button>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Farmacias">Farmácias</mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>

