.expirationDate{
    width: 20%;
    height:10px;
    border-radius: 4px;
    &.shortTerm{background-color: #FF0000;}
    &.mediumTerm{background-color:  #FFA500;}
    &.longTerm{background-color: #008000;}
}
