*{box-sizing: border-box;}
h1, h2, h3, h4, p, span, label, a, button, input, select, textarea,*{font-family: 'ubunturegular', sans-serif;font-style: normal;margin: 0;font-weight: 400;}
h1, h2, h3, h4, p, {color: var(--terceary-color);}
*::placeholder{font-family: 'ubunturegular', sans-serif;font-style: normal;color: var(--terceary-color);margin: 0;font-weight: 400;}
.fontBlack{font-family: 'ubuntubold', sans-serif;}
::-webkit-scrollbar{display: none;width: 2px;}
::-webkit-scrollbar-track{background: #ccc;}
::-webkit-scrollbar-thumb{background: var(--primary-color);}
::-webkit-scrollbar-thumb:hover{background: #0064a6;}
::placeholder{color: #424242;font-size: 14px}
a, button{font-size: 14px}

*:focus{border: none;box-shadow: none;outline: none;}
*.fontUp{text-transform: uppercase;}
*.fontCap{text-transform: capitalize;}
*.fontInit{text-transform: initial;}
*.fontLow{text-transform: lowercase;}
*.fontItalic{font-style: italic;}
*.fontBold{font-family: 'ubuntubold', sans-serif;font-weight: bold}
*.strikethrough{text-decoration: line-through;}

* .hide{display: none;}
* .btn.emptyError{color: red;border: 1px solid red;}
* .form-group{
    input.emptyError, span.emptyError{color: red;border-color: red;}
    input.emptyError::placeholder{color: red;}
}

.main fs-multiselect ng-multiselect-dropdown.fsMultiselect .multiselect-dropdown {
    div.dropdown-list ul li.multiselect-item-checkbox input[type=checkbox]{
        & + div:before{border: 2px solid #008483;}
        &:checked + div:before{background: #008483;}
    }
    span.dropdown-btn{min-height: 32px;border: none;border-bottom: 1px solid;border-radius: 0;padding: 5px 30px 0 0;}
    span.dropdown-btn span.selected-item.ng-star-inserted{background: #008483;border: 1px solid #008483;}
}

.cdk-overlay-pane{
    .mat-snack-bar-container{text-align: center;
        & *{color: var(--secondary-color);font-size: 18px;}
        &.default{background-color: var(--primary-color);}
        &.success{background-color: green;}
        &.error{background-color: red;}
        &.warning{background-color: #f1c40f;}
    }
}

.sizeS{font-size: 40px;line-height: 32px;}
.sizeA, .sizeA::placeholder{font-size: 20px;line-height: 22px;}
.sizeB, .sizeB::placeholder{font-size: 16px;line-height: 18px;}
.sizeC, .sizeC::placeholder{font-size: 14px;line-height: 16px;}
.sizeD, .sizeD::placeholder{font-size: 12px;line-height: 14px;}
.sizeE, .sizeE::placeholder{font-size: 10px;line-height: 12px;}
.sizeF, .sizeF::placeholder{font-size: 8px;line-height: 10px;}

.sizeE.fontBold,.sizeE .fontBold{font-size: 11px;line-height: 13px;}
.sizeD.fontBold,.sizeD .fontBold{font-size: 13px;line-height: 15px;}
.sizeC.fontBold,.sizeC .fontBold{font-size: 15px;line-height: 16px;}
.sizeB.fontBold,.sizeB .fontBold{font-size: 17px;line-height: 18px;}
.sizeA.fontBold,.sizeA .fontBold{font-size: 21px;line-height: 22px;}
.sizeS.fontBold,.sizeS .fontBold{font-size: 42px;line-height: 34px;}

html{position: relative;height: inherit;min-height: 100%;
    body{position: absolute;display: block;height: 100%;min-height: 100%;width: 100%;min-width: 290px;background-color: var(--background-color);padding: 0;margin: 0;
        --background-color: #c8c8c8;
        //--primary-color: #015a4c;
        //--primary-color: #004a49;
        --primary-color: #008483;
        --secondary-color: #ffffff;
        --terceary-color: #444444;
        --cl-blue: #373aa9;
        --cl-blue-light: #23b0ff;
        --cl-gray: #ccc;
        --cl-gray-dark: #777;
        --cl-gray-light: #e6e6e6;
        --cl-green: #008483;
        --cl-green-dark: #004a49;
        --cl-green-light: #0deac0;
        --cl-orange: #ffa500;
        --cl-orange-light: #ffca6c;
        --cl-red: #FF0000;
        --cl-red-light: #ffc4c4;
        --cl-yellow: #ffff00;
        --cl-yellow-light: #FBF8EF;
        --cl-lemon-green: #049314;

        .la-timer, .la-timer *{color: #006db0;}

        img{width: auto;max-width: 100%;
            &.imgBorder{border: 2px solid var(--primary-color);border-radius: 50%;}
        }
        *{
            *::-webkit-scrollbar{display: none;width: 5px;height: 5px;padding: 0;transition: all .4s ease;}
            *::-webkit-scrollbar-track{background: #ccc;}
            *::-webkit-scrollbar-thumb{background: var(--primary-color);}
            *::-webkit-scrollbar-thumb:hover{background: #0064a6;}
            *::placeholder{color: #424242;font-size: 14px}
            select{-webkit-appearance: none; /* Remove estilo padrão do Chrome */
                -moz-appearance: none; /* Remove estilo padrão do FireFox */
                appearance: none; /* Remove estilo padrão do FireFox*/
                border: none;}
            .bg-blue{background-color: var(--cl-blue);color: var(--secondary-color);}
            .bg-gray{background-color: var(--cl-gray);}
            .bg-gray-dark{background-color: var(--terceary-color);}
            .bg-gray-light{background-color: var(--cl-gray-light);}
            .bg-green{background-color: var(--cl-green)}
            .bg-green-dark{background-color: var(--cl-green-dark);}
            .bg-yellow-light{background-color: var(--cl-yellow-light);}
            .bg-red{background-color: var(--cl-red);}
            .bg-red-light{background-color: var(--cl-red-light);}
            .bg-primary{background-color: var(--primary-color);}
            .bg-second{background-color: var(--secondary-color);}
            .bg-terceary{background-color: var(--terceary-color);}
            .bg-white{background-color: var(--secondary-color);}

            .cl-primary, .cl-primary *{color: var(--primary-color);}
            .cl-second, .cl-second *{color: var(--primary-color);}
            .cl-terceary, .cl-terceary *{color: var(--primary-color);}

            .cl-blue, .cl-blue *{color: var(--cl-blue);}
            .cl-gray, .cl-gray *{color: var(--cl-gray);}
            .cl-gray-dark, .cl-gray-dark *{color: var(--cl-gray-dark);}
            .cl-gray-light, .cl-gray-light *{color: var(--cl-gray-light);}
            .cl-green{color: var(--cl-green);}
            .cl-green-light{color: var(--cl-green-light);}
            .cl-yellow-light{color: #fff8af;}
            .cl-red, .cl-red *{color: var(--cl-red);}
            .cl-orange, .cl-orange *{color: var(--cl-orange);}
            .cl-white, .cl-white *{color: var(--secondary-color);}
            .cl-lemon-green, .cl-lemon-green *{color: var(--cl-lemon-green);}

            .hd1{height: 1px;}
            .minHeightBox{min-height: 350px;}
            .scrollbarEnable::-webkit-scrollbar{display: inherit;}
        }
    }
}
.filterBlack{background-color: rgba(0, 0, 0, 0.3);}
.hoverWhite:hover{background-color: rgba(255,255,255,0.1);box-shadow: inset 0 0 5px rgba(255,255,255,0.2);}

a{
    &.linkFlex{display: flex}
    &.linkBlock{display: block}
    &.linkDefaut{color: var(--terceary-color);}
    &.linkDefaut:hover{color: var(--terceary-color);}
}

.clickPlace{cursor: pointer;}
.relativePlace{position: relative;
    .coverAll{position: absolute;top:0;display: none;
        &.active{display: flex;align-items: center;justify-content: center;width: 100%;height: 100%;margin: 0;padding: 0;background: rgb(255, 255, 255);z-index: 10;}
    }
}
.leftText{text-align: left;}
.centerText{text-align: center;}
.center{justify-content: center;text-align: center;}
.floatRight{float: right;}
.floatLeft{float: left;}

.flex, .flexDesk, .flexPad{display: flex;align-items: center;justify-content: space-between;
    &.top{align-items: flex-start;}
    &.fullHeight{align-items: inherit;}
    &.bottom{align-items: flex-end;}
    &.center{justify-content: center;}
    &.start{justify-content: flex-start;}
    &.end{justify-content: flex-end;}
}

.pdg1{padding: 10px;}.pdgT1{padding-top: 10px;}.pdgL1{padding-left: 10px;}.pdgB1{padding-bottom: 10px;}.pdgR1{padding-right: 10px;}
.pdg2{padding: 20px;}.pdgT2{padding-top: 20px;}.pdgL2{padding-left: 20px;}.pdgB2{padding-bottom: 20px;}.pdgR2{padding-right: 20px;}
.mrg0{margin: 0;}.mrgT0{margin-top: 0;}.mrgL0{margin-left: 0;}.mrgB0{margin-bottom: 0;}.mrgR0{margin-right: 0;}
.mrgT1{margin-top: 10px;}.mrgL1{margin-left: 10px;}.mrgB1{margin-bottom: 10px;}.mrgR1{margin-right: 10px;}
.mrgT2{margin-top: 20px;}.mrgL2{margin-left: 20px;}.mrgB2{margin-bottom: 20px;}.mrgR2{margin-right: 20px;}

.hdFull{height: 100%;}
.hdAuto{height: 50%;}
.hdMinFull{min-height: 100%;}
.hdMinFull{min-height: 100%;}
.wdFull{width: 100%;}
.wdAuto{width: Auto;}
.wdMaxFull{ max-width: 100%; }
.wdMax50{ max-width: 50%; }
.wdMax25{ max-width: 25%; }

.anmtd2{transition: all .1s ease}
.anmtd4{transition: all .4s ease}

.borderTop{border-top: 1px solid #ccc;}
.borderBottom{border-bottom: 1px solid #ccc;
    &.borderBlue{border-color: var(--primary-color);}
}

.shdw{box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);}
.shdw1{box-shadow: 0 1px 10px rgba(0, 0, 0, 0.08);}
.shdw2{box-shadow: 0 1px 20px rgba(0, 0, 0, 0.08);}

.round2{border-radius: 4px;}
.round5{border-radius: 5px;}
.round10{border-radius: 10px;}
.round50{border-radius: 50px;}

.iconBox{display: inline-flex;align-items: center;justify-content: center;padding: 3px;border-radius: 2px;}
.iconItem{display: inline-flex;align-items: center;justify-content: center;}
.iconSizeA{max-width: 50px;max-height: 50px;
    svg.svg-inline--fa{max-width: 50px;max-height: 49px;}
}
.iconSizeB{max-width: 40px;max-height: 40px;
    svg.svg-inline--fa{max-width: 40px;max-height: 39px;}
}
.iconSizeC{max-width: 35px;max-height: 35px;
    svg.svg-inline--fa{max-width: 35px;max-height: 34px;}
}
.iconSizeD{max-width: 30px;max-height: 30px;
    svg.svg-inline--fa{max-width: 30px;max-height: 29px;}
}
.iconSizeE{max-width: 25px;max-height: 25px;
    svg.svg-inline--fa{max-width: 25px;max-height: 24px;}
}
.iconSizeF{max-width: 20px;max-height: 20px;
    svg.svg-inline--fa{max-width: 20px;max-height: 19px;}
}
.iconSizeG{max-width: 17px;max-height: 16px;
    svg.svg-inline--fa{max-width: 17px;max-height: 16px;}
}
.iconSizeH{max-width: 15px;max-height: 14px;
    svg.svg-inline--fa{max-width: 15px;max-height: 14px;}
}
.iconSizeI{max-width: 12px;max-height: 12px;
    svg.svg-inline--fa{max-width: 12px;max-height: 11px;}
}
.fa-rotate-45{transform: rotate(45deg);}


.boxWhite{display: flex;width: 100%;height: 42px;padding: 0 10px;border-radius: 0;background: var(--secondary-color);box-shadow: 0 1px 5px rgba(0,0,0,0.08);
    &.center{justify-content: center;align-items: center;}
    .item{text-transform: uppercase;font-size: 16px;line-height: 18px;}
}
.fadeEffect{opacity: 0;visibility: hidden;z-index: -1;position: absolute;top: 0;right: 0;width: 100%;background-color: var(--secondary-color);border-radius: 4px;box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);transition: all 0.4s ease;
    &.active{z-index: 1;opacity: 1;visibility: visible;}
}

.popHolder{position: relative;
    .popOver{opacity: 0;visibility: hidden;position: absolute;top: -10px;left: 50%;width: 250px;transform: translate(-50%, -80%);background-color: var(--secondary-color);padding: 10px;border-radius: 4px;box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);transition: all 0.2s ease;
        .medium{width: 350px;}
        .large{width: 450px;}
        .popOverTitle{display: flex;margin: 0 0 8px;font-family: 'ubuntubold', sans-serif;}
    }
    &:hover,&.show{
        .popOver{z-index: 10;opacity: 1;visibility: visible;transform: translate(-50%, -100%);}
    }
}
input, select, textarea{background: none;border: none;
    &:required{box-shadow:none}
}

.btn{width: 100%;max-width: 250px;height: 36px;padding: 0 20px;text-transform: capitalize;font-weight: bold;font-size: 16px;line-height: 18px;text-decoration: none;border: none;cursor: pointer;border-radius: 4px;background: var(--secondary-color);box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    .notActive{display: inline-flex;}
    .active{display: none}
    .iconActive{display: none}

    &.center{display: inline-flex;align-items: center;justify-content: center;}
    &.btnAuto{width: auto;max-width: 100%;}
    &.wdAuto{width: auto;max-width: 100%;}
    &.btnShort{height:  34px;}
    &.btnSmall{max-width: 200px;}
    &.btnWide{max-width: 300px;}
    &:hover{box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1), inset 0 0 3px rgba(0, 0, 0, 0.3);}
    &.active{background-color: var(--primary-color);color: var(--secondary-color);
        .notActive{display: none}
        .active{display: inline-flex;}
    }
    &.hide{display: none;}
    &.btn-primary{color: var(--primary-color);}
    &.btn-primary-bg{background-color: var(--primary-color); color: var(--secondary-color);}
    &.btn-primary-bg:hover{box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), inset 0 0 5px rgba(0, 0, 0, 0.4);}

    &.btn-secondary{color: var(--cl-red);}
    &.btn-secondary-bg{background-color: var(--cl-red);color: var(--secondary-color);}
    &.btn-secondary-bg:hover{box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), inset 0 0 5px rgba(0, 0, 0, 0.4);}

    &.btn-upload{display: inline-flex;align-items: center;justify-content: center;}
    &.noShadow{box-shadow: none;}
    &.noShadow:hover{box-shadow: none;}

    &.attachBtn{display: flex;align-items: center;justify-content: center;
        .detail{display: flex;align-items: center;justify-content: center;margin-right: 10px;height: 23px;width: 23px;background-color: #ccc;border-radius: 50px;}
    }
    fa-icon:nth-child(2){margin-right: 10px;}
    fa-icon:nth-child(3){margin-left: 10px;}

    .iconBtn{height: 35px;}
}

* .btn:disabled{box-shadow: none;background-color: #ddd}
* .btn:disabled:hover{box-shadow: none;background-color: #ddd}

.radioBox{display: flex;position: relative;padding-left: 35px;height: 25px;align-items: center;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
    &:hover input ~ .checkmark{background-color: #eee;}
    input{position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0;
        &:checked ~ .checkmark{ background-color: var(--primary-color);
            &:after{display: block;}
        }
    }
    .checkmark{position: absolute;top: 0;left: 0;height: 25px;width: 25px;background-color: var(--secondary-color);box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
        &:after{content: "";position: absolute;display: none;left: 7px;top: 4px;width: 7px;height: 10px;border: solid white;border-width: 0 3px 3px 0;transform: rotate(45deg);}
    }
    &.inline{display: inline-flex;}
    &.hd1{height: 15px;padding-left: 25px;
        .checkmark{height: 15px;width: 15px;
            &:after{left: 4px;top: 1px;width: 4px;height: 8px;}
        }
    }
    &.hd2{height: 20px;padding-left: 30px;
        .checkmark{height: 20px;width: 20px;
            &:after{left: 5px;top: 2px;}
        }
    }
}
.switchBox {display: flex;position: relative;width: auto;align-items: center;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
    .switchInput {position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0;
        & + .switch {position: relative;display: flex;width: auto;min-width: 60px;height: 24px;outline: none;user-select: none;padding: 2px;background-color: #ccc;border-radius: 50px;z-index: 1;overflow: hidden;}
        & + .switch:before,
        & + .switch:after {display: block;position: absolute;top: 1px;left: 1px;bottom: 1px;content: "";z-index: -1;}
        & + .switch:before {right: 1px;background-color: #f1f1f1;border-radius: 50px;transition: background 0.3s;}
        & + .switch:after {top: 2px;left: 0;height: 20px;width: 20px;transform: translateX(2px);background-color: var(--secondary-color);border-radius: 100%;box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);transition: all 0.3s;}
        & + .switch .switctTextOn,
        & + .switch .switctTextOff{display: block;width: 100%;padding: 0;font-size: 14px;line-height: 18px;color: var(--secondary-color);transition: all 0.28s;}
        & + .switch .switctTextOn{text-align: left;padding-left: 4px;margin-left: -100%;}
        & + .switch .switctTextOff{text-align: right;padding-right: 4px;margin-right: 0; color: var(--cl-gray-dark);}
        &:checked + .switch:before {background-color: var(--primary-color);}
        &:checked + .switch:after {left: 100%;transform: translateX(-22px);}
        &:checked + .switch .switctTextOn{margin-left: 0;}
        &:checked + .switch .switctTextOff{margin-right: -100%;}
    }
    &.switchOnOff{
        .switchInput{
            & + .switch:before {background-color: var(--cl-red);}
            & + .switch .switctTextOff{color: var(--secondary-color);}
            &:checked + .switch:before {background-color: var(--primary-color);}
        }
        &.invert{
            .switchInput{
                & + .switch:before{background-color: var(--primary-color);}
                &:checked + .switch:before{background-color: var(--cl-red);}
            }
        }
    }
    &.switchSmall{
        .switchInput{
            & + .switch {min-width: 40px;height: 18px;}
            & + .switch:after {top: 2px;left: 0;height: 14px;width: 14px;transform: translateX(2px);}
            &:checked + .switch:after {left: 100%;transform: translateX(-16px);}
        }
    }
}

.uploadImgBox{position: relative;width: 90px;height: 90px;margin: 0 0 5px;border-radius: 50%;overflow: hidden;display: flex;align-items: center;justify-content: center;
    input{position: absolute;left: 0;top: 0;height: 100%;width: 100%;background: none;border: none;margin: 0;padding: 0;font-size: 0;opacity: 0;z-index: 2;}
    input:hover{cursor: pointer;}
    .detailHover{position: absolute;left: 0;top: 0;display: flex;width: 100%;height: 100%;align-items: center;justify-content: center;border-radius: 50%;background-color: rgba(0,0,0,0.12);font-size: 40px;color: var(--secondary-color);opacity: 0;}
    &:hover .detailHover{opacity: 1;}
}

.container{margin: 0 auto;max-width: 1200px;
    &.maxSizeA{max-width: 1336px;}
    &.maxSizeB{max-width: 1440px;}
    &.maxSizeC{max-width: 1600px;}
    &.maxSizeD{max-width: 1800px;}
    &.containerMax{max-width: 100%;}
}

.main{padding: 10px 0 40px;
    .titlePageBox{padding: 0 0 20px}
    &.login{padding: 30px 0;margin: 0;
        .topBlock{margin: 50px 0 0;
            .logoBox{display: block;max-width: 360px;margin: 0 auto;
                .img-logo{margin: 0 auto;}
            }
        }
        .middleBlock{max-width: 360px;margin: 100px auto 0;background: var(--secondary-color);padding: 30px 40px;border-radius: 2px;}
        .centerBox{width: 100%;max-width: 300px;
            .registerText{padding: 20px 0;}
        }
        .btn{max-width: 300px;}
    }
}

.searchLine{display: flex;align-items: center;padding-bottom: 10px;
    form{height: 20px;}
}

.listBox{margin: 15px 0 0;padding: 0;list-style: none;height: 443px;overflow-y: auto;
    &::-webkit-scrollbar{display: block; width: 4px;transition: all .4s ease;}
    li{margin: 0 5px 5px 0;padding: 5px;border-bottom: 1px solid var(--cl-green-dark);
        &:last-child{margin-bottom: 0;}
    }
}
.listForm{margin: 15px 0 0;padding: 0;list-style: none;
    &::-webkit-scrollbar{display: block; width: 4px;transition: all .4s ease;}
    li{margin: 0 5px 5px 0;padding: 5px;border-bottom: 1px solid var(--cl-green-dark);
        &:last-child{margin-bottom: 0;}
    }
}
.listAlign{
    &.listBgColor {background-color: var(--secondary-color);}
    .item{display: flex;align-items: center;width: 100%;min-height: 35px;padding-left: 5px;border-Left: 1px solid var(--cl-gray-dark);margin-left: 5px;
        &:last-child{justify-content: flex-end;}
        &:first-child{justify-content: flex-start;padding-left: 0;border: none;margin-left: 0;}
        &.block{display: block;}
    }
}
.listHeader{padding: 10px 15px 10px 5px;border-bottom: 1px solid #ccc;background: var(--cl-green);
    h3{text-transform: initial;color: var(--secondary-color);}
    .form-group select{padding-right: 10px;font-size: 15px;}
    .item{width: 100%;overflow: hidden;min-height: 0;max-height: 32px;border: none;
        &.form-group{margin: -16px 10px 0 0;border: none;
            select{border: none;}
        }
    }
}
/* forms --  */
.formBox{margin: 0 auto 0;
    &.borderTop{padding-top: 20px;}
}
.split{
    input, select{max-width: 295px;}
    select{font-size: 14px;height: 20px;margin-top: 2px;}
    .form-group,.datepicker{max-width: 295px;}
}
.form-group{position: relative;width: 100%;z-index: 1;
    &.inputAnimated label{position: absolute;left: 0;top: 20px;font-size: 16px;transition: all .2s ease;z-index: -1}
    &.disabled{
        label{font-size: 10px;top: 0;}
    }
    &.selectViewList{
        .iconSelectField{right: 25px;}
    }
    input, select, textarea,.disabledText{width: 100%;background: none;border-bottom: 1px solid;border-color: #424242;color: #424242;padding: 20px 0 8px;margin: 0 auto 20px;z-index: 1;
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active{background: none; border-bottom: 1px solid; border-color: #424242; color: #424242;}
        &:-webkit-autofill{-webkit-text-fill-color: inherit;}
        &:focus ~ label,
        &:valid ~ label,
        &:disabled ~ label{font-size: 12px;top: -1px;}
        &.emptyError ~ label{color: red;}
    }
    textarea{padding: 10px;margin: 10px auto 0;border: 1px solid;height: 150px;
        &::placeholder{color: #848484;}
    }
    select{font-size: 16px;height: auto;
        *{padding-left: 10px;}
        &.selectSort{padding-left: 12px;}
        &~.iconSelectField{filter: grayscale(1);}
        &:focus ~ .iconSelectField{filter: grayscale(0);}
        option{margin: 0;}
    }
    .iconSelectField{position: absolute;top: 20px;right: 0;margin: 0;padding: 0;z-index: -1;}
}
.datepicker{width: 100%;}
.mat-form-field.mat-form-field-appearance-legacy{
    .mat-form-field-infix{margin: 0;}
    .mat-form-field-label{color: var(--terceary-color);}
    .mat-form-field-underline{background-color: #424242;}
}

.lineForm{display: inline-flex;margin: 0;
    .lineFormItem{display: inline-block;}
}
/* forms --  */

.modalFilter{position: fixed;top: 0;left: 0;display: flex;align-items: flex-start;justify-content: center;width: 100%;height: 100%;outline: 0;overflow-x: hidden;overflow-y: auto;opacity: 0;visibility: hidden;box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);transition: all 0.05s ease, z-index 05s cubic-bezier(1, 0, 1, 0);z-index: -1000;
    &.active{opacity: 1;visibility: visible;z-index: 100;transition: all 0.05s ease, z-index 0s ease;}
    .modalBox{position: relative;margin: 60px 20px 20px;min-height: 500px;width: 100%;max-width: 780px;padding: 20px;
        &.modalSizeB{width: 100%;max-width: 780px;}
        &.modalSizeC{width: 100%;max-width: 780px;min-height: 580px;padding: 80px;}
        &.modalSizeWide{padding: 20px;min-height: 580px;width: 100%;max-width: 100%;}
        &.modalSizeAuto{padding: 20px;width: auto;max-width: 100%;}
        .mainTop{position: relative;}
        .modalBody{min-height: 350px;}
    }
    .modalBoxTop{margin-top: 20px;}
    .btnCloseModal{position: absolute;top: 20px;right: 20px;height: 20px;font-size: 22px;font-weight: bold;cursor: pointer;
        span{margin-right: 10px;}
    }
}

$list-sizes-width-height: (width: w, height: h);
$list-sizes: (25, 33, 50, 75, 100);
@each $prop, $abbrev in $list-sizes-width-height{
    @each $size in $list-sizes{
        .#{$abbrev}#{$size}{
            #{$prop}: $size + unquote('%') !important;
        }
    }
}

$width-values: ('max-content', 'min-content', 'available','fit-content','auto','inherit','initial','unset');
@each $width in $width-values{
    .width-#{$width}{
        width: $width !important;
    }
}
@media (min-width: 2500px){
    .main.firstAccess .bg-firstAccess img{left: 0}
}
@media (max-width: 1050px){
    .main.firstAccess {
        .bg-firstAccess {width: 75%;
            img {right: -400px;}
        }
    }
    .container{margin: 0 20px;}
}
@media (max-width: 990px){
    .listBoxSlideMob{overflow-x: auto;
        .listHeader{min-width: 800px}
        .listBox{min-width: 800px}
    }
}
@media (max-width: 920px){
    .main{padding: 20px 0 30px;}
}
@media (max-width: 810px){
    .main.firstAccess{
        .middleBlock.login{left: initial;right: 40px;}
    }
    .modalFilter{
        .modalBox{padding: 80px 60px;}
    }
}
@media (max-width: 780px){
    html body{
        .flexDesk{display: block;
            .wdFullTab{width: 100%;max-width: 100%;}
        }
    }
    .modalFilter{
        .modalBox{padding: 60px 40px;}
    }
    .split{
        .form-group:nth-child(2n){margin-left: 20px}
    }
}
@media (max-width: 600px){
    .mat-form-field.mat-form-field-appearance-legacy .mat-form-field-infix{width: auto;}
    .wdMax25{max-width: 50%;}
    html body{
        *.flexPad{display: block;
            *.wdFullMob{width: 100%;max-width: 100%;}
        }
    }
    .main.firstAccess{
        .bg-firstAccess {width: 75%;
            img{display: none;}
        }
        .topBlock .logoBox{margin: 10px auto 0;}
        .topBlock{right: 50%;top: 150px;transform: translate(50%, 0);box-shadow: none;}
        .middleBlock.login{right: 50%;top: 150px;transform: translate(50%, 0);box-shadow: none;}
    }
}
@media (max-width: 500px){
    .split{
        .flex{display: block;
            div.form-group{max-width:100%;margin: 0 0 10px;
                input,select{max-width: 100%;}
            }
        }
    }
}
@media (max-width: 380px){
    *.btn{padding-right: 10px;padding-left: 10px;}
}
@media (max-width: 350px){
    .modalFilter{
        .modalBox{padding: 50px 30px 30px;}
    }
}
