<div class="paginationBox flex end">
    <div (click)="emitFirstPage()" class="item flex center clickPlace" title="Primeira página">
        <fa-icon [icon]="iconSolidService.faAngleDoubleLeft" size="3x" class="iconItem iconSizeF cl-green iconSearch"></fa-icon>
    </div>
    <div (click)="emitReturnPage()" class="item flex center clickPlace" title="Página anterior">
        <fa-icon [icon]="iconSolidService.faChevronLeft" size="3x" class="iconItem iconSizeG cl-green iconSearch"></fa-icon>
    </div>
    <div class="item flex center" title="página atual">
        <span class="sizeC">{{currentPage}}</span>
    </div>
    <div (click)="emitNextPage()" class="item flex center clickPlace" title="Próxima página">
        <fa-icon [icon]="iconSolidService.faChevronRight" size="3x" class="iconItem iconSizeG cl-green iconSearch"></fa-icon>
    </div>
    <div (click)="emitLastPage()" class="item flex center clickPlace" title="Última página: {{lastPageNum}}">
        <fa-icon [icon]="iconSolidService.faAngleDoubleRight" size="3x" class="iconItem iconSizeF cl-green iconSearch"></fa-icon>
    </div>
</div>
