.paginationBox{overflow: hidden;border-radius: 5px;border: 1px solid var(--primary-color);
    .item{display: flex;align-items: center;justify-content: center;height: 26px;padding: 0 4px;border-right: 1px solid var(--primary-color);
        &:last-child{margin-right: 0;border: none;}
        &:hover{background: var(--cl-gray);}
        .sizeC{padding: 0 5px;}
    }
}
