<div class="main productMain">
    <div class="container maxSizeC">
        <div class="productBox bg-gray-light">
            <div class="flex">
                <h2 class="sizeA fontBold">Lotes/Validade</h2>
                <button (click)="showModalEditExpirationNewData()" class="btn btn-primary-bg mrgL20 ">Cadastrar validade</button>
            </div>
            <div class="productListBox">
                <div class="form-group inputAnimated">
                    <select [formGroup]="'branch_id'" class="fontBold teste" id="branch_id" (change)="setBranch($event.target.value)">
                        <option [value]="0" selected>Não filtrar</option>
                        <option [value]="1">Descanso</option>
                        <option [value]="3">Ipora</option>
                        <option [value]="4">Mondai</option>
                    </select>
                    <label class="form-label" for="stock">Unidade</label>
                    <fa-icon [icon]="iconSolidService.faCaretDown" size="3x" class="iconItem iconSizeF cl-gray-dark iconSelectField"></fa-icon>
                </div>
                <div class="flex pdgB1 mrgB2">
                    <fs-multiselect
                        class="wdFull"
                        [list]="productOptionGroup"
                        [placeholderText]="'Grupo'"
                        [reset]="productFilterReset"
                        (listSelectedEmit)="productOptionPromotionSelected = setArraySelected($event)">
                    </fs-multiselect>
                    <fs-multiselect
                        class="wdFull mrgL2"
                        [list]="productOptionLab"
                        [placeholderText]="'Laboratório'"
                        [reset]="productFilterReset"
                        (listSelectedEmit)="productOptionLabSelected = setArraySelected1($event)">
                    </fs-multiselect>
                    <fs-multiselect
                        class="wdFull mrgL2"
                        [list]="productOptionType"
                        [placeholderText]="'Tipo'"
                        [listItemIdField]="'type_id'"
                        [listItemNameField]="'description'"
                        [reset]="productFilterReset"
                        (listSelectedEmit)="productOptionTypeSelected = setArraySelected2($event,'type_id')">
                    </fs-multiselect>
                </div>
                <div class="param-box flex pdgB1">
                    <mat-form-field class="wdFull" [formGroup]="productForm">
                        <fa-icon matPrefix (click)="loadProductList()" [icon]="iconSolidService.faSearch" size="1x" class="iconItem iconSizeF cl-green clickPlace mrgR1"></fa-icon>
                        <mat-label>Nome do produto, lote, código de barras</mat-label>
                        <input (keydown.enter)="loadProductList()" matInput [formControlName]="'description'" autocomplete="off" placeholder="Digite o nome do produto, lote, código de barras" type="text">
                    </mat-form-field>
                    <fs-interval-selector
                        (firstDateSelected)="setFirstDate($event)"
                        (secondDateSelected)="setSecondDate($event)"
                    ></fs-interval-selector>
                </div>
                <div class="listBoxSlideMob">
                    <div class="flex listAlign listHeader">
                        <h3 class="item sizeC">Unidade</h3>
                        <h3 (click)="orderByNumber('bar_code')"
                            class="item sizeC clickPlace {{productListCurrentOrder == 'bar_code' ? 'fontBold' : ''}}">
                            Código de barras</h3>
                        <h3 (click)="orderByString('description')"
                            class="item sizeC clickPlace {{productListCurrentOrder == 'description' ? 'fontBold' : ''}}">
                            Nome</h3>
                        <h3 class="item sizeC">Lote</h3>
                        <h3 (click)="orderByNumber('vencimento')"
                            class="item sizeC clickPlace {{productListCurrentOrder == 'vencimento' ? 'fontBold' : ''}}">
                            Vencimento</h3>
                        <h3 class="item sizeC">Quantidade</h3>
                        <h3 class="item sizeC">reg_ms</h3>
                        <!-- <h3 class="item sizeC">Estoque</h3> -->
                        <!-- <h3 class="item sizeC">Promoçao</h3> -->
                        <!-- <h3 class="item sizeC">Vendidos na promoção</h3> -->
                        <h3 class="item sizeC">Ação</h3>
                    </div>
                    <ul class="listBox">
                        <li *ngFor="let product of productListFilteredSearch;let productIndex = index"
                            class="flex top listAlign {{productIndex % 2 == 0 ? 'listBgColor' : ''}}">
                            <span class="item sizeC">{{product['city']}}</span>
                            <span class="item sizeC">{{product['bar_code']}}</span>
                            <span [ngClass]="{
                            red: productList[productIndex]['daysToExpire'] <= shortExpirationDate,
                            orange: productList[productIndex]['daysToExpire'] > shortExpirationDate && productList[productIndex]['daysToExpire'] <= mediumExpirationDate,
                            green: productList[productIndex]['daysToExpire'] > mediumExpirationDate && productList[productIndex]['daysToExpire'] <= longExpirationDate}"
                                  class="item sizeC">{{product['description']}} {{product['presentation']}}</span>
                            <span class="item sizeC">{{product['batch']}}</span>
                            <span class="item sizeC">{{getDate(product['due_date'])}}</span>
                            <span class="item sizeC">{{product['amount']}}</span>
                            <span class="item sizeC">{{product['reg_ms']}}</span>
                            <!-- <span class="item sizeC {{product['product_extras'].length > 1 ? 'block' : ''}}"><span
                                *ngFor="let extra of product['product_extras']; let extraIndex = index"
                                class="flex">{{extraIndex + 1}}: {{extra['stock']}}</span></span> -->
                            <!-- <span class="item sizeC">{{product['promotion_name']}}</span> -->
                            <!-- <span class="item sizeC {{product['product_extras'].length > 1 ? 'block' : ''}}"><span
                                *ngFor="let extra of product['product_extras']; let extraIndex = index"
                                class="flex">{{extraIndex + 1}}: {{extra['stock']}}</span></span> -->
                            <!--                            <span class="item sizeC">{{getDate(product['created_at'])}}</span>-->
                            <span class="item">
<!--                                <fa-icon *ngIf="countStorage(product['product_extras']) == 0" (click)="showModalInactiveProduct(product['code'])" [icon]="iconSolidService.faTrashAlt" size="3x" class="iconItem iconSizeG cl-gray-dark clickPlace" title="Inativar produto"></fa-icon>-->
<!--                                <fa-icon (click)="hideProduct(product['code'])" [icon]="iconRegularService.faEyeSlash" size="3x" class="iconItem iconSizeG cl-gray-dark clickPlace" title="Esconder Produto"></fa-icon>-->
<!--                                <fa-icon (click)="showModalProduct(product['code'])" [icon]="iconRegularService.faEdit" size="3x" class="iconItem iconSizeG cl-gray-dark clickPlace" title="Editar produto"></fa-icon>-->
<!--                                <fa-icon (click)="showModalProductPromotion(product['code'])" [icon]="iconSolidService.faPercentage" size="3x" class="iconItem iconSizeG clickPlace {{product['promotion_name'] != null ? 'cl-red' : 'cl-gray-dark'}}" title="Promocionar"></fa-icon>-->
                                <fa-icon (click)="showModalEditExpirationData(product['code'])" [icon]="iconRegularService.faEdit" size="3x" class="iconItem iconSizeG clickPlace" title="Editar vencimento"></fa-icon>
                                <fa-icon (click)="showModalConfirmExpired(product['id'])" [icon]="iconSolidService.faTrashAlt" size="3x" class="iconItem iconSizeG clickPlace" title="Vencido"></fa-icon>
<!--                                <fa-icon *ngIf="product['promotion_name'] != null" (click)="showModalProductRemovePromotion(product['code'],product['promotion_id'])" [icon]="iconSolidService.faMinuSquare" size="3x" class="iconItem iconSizeG clickPlace cl-red" title="Remover produto da promoção: {{product['promotion_name']}}"></fa-icon>-->
                            </span>
                        </li>
                        <li *ngIf="productListFilteredSearch.length == 0">
                            <p class="sizeC" *ngIf="productList.length > 0 && productList[0]['loading']">
                                Carregando...</p>
                            <p class="sizeC"
                               *ngIf="productList.length > 0 && !productList[0]['loading'] && productListFilteredSearch.length == 0">
                                Nenhum produto correspondente.</p>
                            <p class="sizeC" *ngIf="productList.length == 0">Nenhum produto encontrado.</p>
                        </li>
                    </ul>
                    <div class="flex end pdgT1">
                        <fs-pagination
                            *ngIf="paginationLastPage != 1"
                            [currentPage]="paginationCurrentPage"
                            [lastPageNum]="paginationLastPage"
                            (firstPage)="loadProductList(1)"
                            (previousPage)="loadProductList(paginationCurrentPage-1)"
                            (nextPage)="loadProductList(paginationCurrentPage+1)"
                            (lastPage)="loadProductList(paginationLastPage)"
                        ></fs-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<fs-product-modal-promotion
    [showModal]="modalProductPromotion"
    [productCode]="productSelectedCode"
    (hideModal)="hideModalProductPromotion()"
    (reloadList)="loadProductList()"
></fs-product-modal-promotion>

<fs-modal-confirm
    [showModal]="modalConfirmExpired"
    [title]="'Deseja marcar produto como vencido?'"
    [btnText]="'Vencido'"
    (hideModal)="hideModalConfirmExpired()"
    (confirmClick)="confirmExpiredProduct()"
></fs-modal-confirm>

<fs-modal-expiration-date
    [showModal]="modalExpiredDate"
    [productCode]="productSelectedCode"
    (productUpdated)="loadProduct()"
    (hideModal)="hideModalEditExpirationData()"
></fs-modal-expiration-date>

<fs-modal-expiration-new-date
    [showModal]="modalExpiredNewDate"
    [productCode]="productSelectedCode"
    (productUpdated)="loadProduct()"
    (hideModal)="hideModalEditExpirationNewData()"
></fs-modal-expiration-new-date>

