.param-box{
    mat-form-field{margin: 5px 0 0}
}
.teste{
    width: 200px;
}
.productBox{padding: 20px;
    .productListBox{position: relative;max-height: 794px;overflow: hidden;background-color: var(--cl-gray-light);padding: 10px 0 0;z-index: 2;
        .listAlign{padding: 3px 5px;margin: 0;align-items: center;
            .item{max-width: 100px;
                &:nth-child(1){max-width: 130px;}
                &:nth-child(2){max-width: 220px;}
                &:nth-child(6){max-width: 150px;}
                &:nth-child(9){max-width: 160px;}
                &:last-child{max-width: 90px;
                    .iconItem{margin-left: 5px;
                        &:first-child{margin-left: 0;}
                    }
                }
            }
        }
    }
}
.red{color: #e81313;}
.orange{color: #f3a116;}
.green{color: #06b106;}
