<div class="main">
    <div class="container maxSizeC">
        <div class="productBox bg-gray-light pdg2">
            <div class="flex mrgB2">
                <h2 class="sizeA fontBold mrgR2">Promoções - análise</h2>
                <div class="autocompleteBox wdFull">
                    <fs-autocomplete
                        [list]="autoCompleteList"
                        [resetOnFocus]="true"
                        (inputValue)="getProductAutocompleteList($event)"
                        [listItemIdFieldName]="'code'"
                        [objectNameDisplay]="['bar_code','description','presentation']"
                        (listSelectedId)="validAutoCompleteListSelected($event)">
                    </fs-autocomplete>
                </div>
                <div></div>
            </div>
            <div  class="listBoxSlideMob listAnalysis" [formGroup]="productAnalysisLineForm">
                <div class="flex listAlign listHeader">
                    <span class="item flex start">
                        <label class="radioBox hd1 sizeC">
                            <input (change)="analysisFormSelectAll('all')" [formControlName]="'allSelected'" type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </span>
                    <h3 class="item sizeC">Código de barras</h3>
                    <h3 class="item sizeC">Descrição</h3>
                    <h3 class="item sizeC">laboratório</h3>
                    <h3 class="item sizeC">(Venda)</h3>
                    <h3 class="item sizeC">Alt preço venda</h3>
                    <h3 class="item sizeC">(Desconto)</h3>
                    <div class="item flex">
                        <h3 class="sizeC pdgL1">% Desconto</h3>
                        <h3 class="sizeC pdgR1">R$ Desconto</h3>
                    </div>
                    <h3 class="item sizeC">Ação</h3>
                </div>
                <ul class="listBox" [formArrayName]="'lines'" >
                    <li *ngFor="let product of productAnalysisListFilteredSearch;let productIndex = index" [formGroupName]="productIndex" class="flex top listAlign">
                        <span class="item flex start">
                            <label class="radioBox hd1 sizeC">
                                <input (change)="analysisFormSelectAll('one')" [formControlName]="'selected'" type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </span>
                        <span class="item flex start">
                            <span class="flex center iconFlag">
                                <a href="https://www.google.com/search?q={{product['bar_code']}}&tbm=shop" target="_blank" title="">
                                    <img *ngIf="product['code_origin'] == 0 || (product['code_origin'] > 2 && product['code_origin'] < 6) || product['code_origin'] == 8" src="assets/img/icon-brazil.png" class="iconBrazil" alt="">
                                    <img *ngIf="product['code_origin'] == 1 || product['code_origin'] == 2 || product['code_origin'] == 6 || product['code_origin'] == 7" src="assets/img/icon-usa.png" class="iconUSA" alt="">
                                </a>
                            </span>
                            {{product['bar_code']}}
                        </span>
                        <span class="item sizeC">{{product['description']}} - {{product['presentation']}}</span>
                        <span class="item sizeC">{{product['name']}}</span>
                        <span class="item sizeC itemInput"><input onClick="this.select();" (change)="validAnalysisLineValue(product['code'],'sell_value');calcAnalysisLine(product['code'],'sell_value')" [formControlName]="'sell_value'" autocomplete="off" placeholder="" type="text"></span>
                        <div class="item flex center">
                            <label class="radioBox hd1 sizeC">
                                <input [formControlName]="'alter_sell_value'" type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <span class="item sizeC"><span *ngFor="let promotion of product['promotion_rule']" class="flex">{{promotion['amount']}}: R$ {{promotion['price']}} ({{promotion['perc']}} %)</span></span>
                        <div class="item flex itemInput">
                            <input onClick="this.select();" (change)="validAnalysisLineValue(product['code'],'discountPercent');calcAnalysisLine(product['code'],'discountPercent')" [formControlName]="'discountPercent'" autocomplete="off" placeholder="" type="text">
                            <fa-icon (click)="showModalProductPromotion(product['code'])" [icon]="iconSolidService.faPlus" size="3x" class="iconItem iconSizeG cl-gray-dark clickPlace mrgL1 mrgR1" title="Adicionar regra"></fa-icon>
                            <input onClick="this.select();" (change)="validAnalysisLineValue(product['code'],'discountValue');calcAnalysisLine(product['code'],'discountValue')" [formControlName]="'discountValue'" autocomplete="off" placeholder="" type="text">
                        </div>
                        <span class="item sizeC">
                            <fa-icon (click)="showModalRemoveProduct(product['code'])" [icon]="iconSolidService.faTimes" size="3x" class="iconItem iconSizeG cl-red clickPlace mrgL1" title="Remover"></fa-icon>
                        </span>
                    </li>
                    <li *ngIf="productAnalysisListFilteredSearch.length == 0">
                        <p class="sizeC" *ngIf="productAnalysisList.length > 0 && productAnalysisList[0]['loading']">Carregando...</p>
                        <p class="sizeC" *ngIf="productAnalysisList.length > 0 && !productAnalysisList[0]['loading'] && productAnalysisListFilteredSearch.length == 0">Nenhuma promoção correspondente.</p>
                        <p class="sizeC" *ngIf="productAnalysisList.length == 0">Nenhuma promoção encontrada.</p>
                    </li>
                </ul>
            </div>
            <div class="flex center pdg2">
                <button (click)="transferMultDown()" class="btn flex center btnSmall btn-primary-bg">Mover
                    <fa-icon [icon]="iconSolidService.faArrowDown" size="3x" class="iconItem iconSizeG cl-white mrgL1" title="Adicionar"></fa-icon>
                </button>
                <button (click)="transferMultUp()" class="btn flex center btnSmall mrgL1">Mover
                    <fa-icon [icon]="iconSolidService.faArrowUp" size="3x" class="iconItem iconSizeG cl-black mrgL1" title="Remover"></fa-icon>
                </button>
            </div>
            <div  class="listBoxSlideMob listAnalyzed mrgB2" [formGroup]="productAnalyzedLineForm">
                <div class="flex listAlign listHeader">
                    <span class="item flex start">
                        <label class="radioBox hd1 sizeC">
                            <input (change)="analyzedFormSelectAll('all')" [formControlName]="'allSelected'" type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </span>
                    <h3 class="item sizeC">Código de barras</h3>
                    <h3 class="item sizeC">Descrição</h3>
                    <h3 class="item sizeC">Laboratório</h3>
                    <h3 class="item sizeC">(Venda)</h3>
                    <h3 class="item sizeC">(Desconto)</h3>
                    <h3 class="item sizeC">Ação</h3>
                </div>
                <ul class="listBox" [formArrayName]="'lines'" >
                    <li *ngFor="let product of productAnalyzedListFilteredSearch;let productIndex = index" [formGroupName]="productIndex" class="flex top listAlign">
                        <span class="item flex start">
                            <label class="radioBox hd1 sizeC">
                                <input (change)="analyzedFormSelectAll('one')" [formControlName]="'selected'" type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </span>
                        <span class="item sizeC">{{product['bar_code']}}</span>
                        <span class="item sizeC">{{product['description']}} - {{product['presentation']}}</span>
                        <span class="item sizeC">{{product['name']}}</span>
                        <span class="item sizeC">{{product['sell_value']}}</span>
                        <span class="item sizeC block"><span *ngFor="let promotion of product['promotion_rule']">{{promotion['amount']}}: R$ {{promotion['price']}} ({{promotion['perc']}} %)</span></span>
                        <span class="item sizeC">
                            <fa-icon (click)="showModalTransferUpProduct(product['code'])" [icon]="iconSolidService.faTimes" size="3x" class="iconItem iconSizeG cl-red clickPlace mrgL1" title="Remover"></fa-icon>
                        </span>
                    </li>
                    <li *ngIf="productAnalyzedListFilteredSearch.length == 0">
                        <p class="sizeC" *ngIf="productAnalyzedList.length > 0 && productAnalyzedList[0]['loading']">Carregando...</p>
                        <p class="sizeC" *ngIf="productAnalyzedList.length > 0 && !productAnalyzedList[0]['loading'] && productAnalyzedListFilteredSearch.length == 0">Nenhuma promoção correspondente.</p>
                        <p class="sizeC" *ngIf="productAnalyzedList.length == 0">Nenhuma promoção encontrada.</p>
                    </li>
                </ul>
            </div>
            <div class="flex center pdgT2">
                <div *ngIf="fileMissingProducts" class="importBtnBox relativePlace mrgR1">
                    <button (click)="fileMissingProductsBtnToggle = !fileMissingProductsBtnToggle" class="btn flex btnSmall center btn-primary-bg">
                        Faltantes
                        <fa-icon [icon]="iconSolidService.faChevronDown" size="3x" class="iconItem iconSizeG cl-white mrgL1"></fa-icon>
                    </button>
                    <div *ngIf="fileMissingProductsBtnToggle" class="importOptionBox">
                        <button (click)="importMissing()" class="btn flex center btnSmall btn-primary-bg mrgB1">Processar</button>
                        <button (click)="downloadMissing()" class="btn flex center btnSmall btn-primary-bg">Visualizar</button>
                    </div>
                </div>
                <button (click)="fileInput.click()" class="btn flex center btnSmall btn-primary-bg" type="button">Importar
                    <fa-icon [icon]="iconSolidService.faUpload" size="3x" class="iconItem iconSizeG cl-black mrgL1" title="Remover"></fa-icon>
                </button>
                <input #fileInput hidden type="file" accept=".csv" (change)="importData($event.target['files'][0])" class="hide">
                <button (click)="sendPromotion()" class="btn flex center btnSmall btn-primary-bg mrgL1">Efetivar</button>
            </div>
        </div>
    </div>
</div>

<fs-promotion-modal-product-promotion
    [showModal]="modalProductPromotion"
    [productPrice]="productSelectedPrice"
    [promotionListLoad]="productSelectedPromotionRule"
    (hideModal)="hideModalProductPromotion()"
    (promotionListSaved)="setProductPromotionRule($event)">
</fs-promotion-modal-product-promotion>

<fs-modal-confirm
    [showModal]="modalRemoveProduct"
    [title]="'Remover produto?'"
    [btnText]="'Remover'"
    (hideModal)="hideModalRemoveProduct()"
    (confirmClick)="removeProduct()">
</fs-modal-confirm>

<fs-modal-confirm
    [showModal]="modalTranferUpProduct"
    [title]="'Remover produto?'"
    [btnText]="'Remover'"
    (hideModal)="hideModalTransferUpProduct()"
    (confirmClick)="transferUpProduct()">
</fs-modal-confirm>

<fs-modal-confirm-deny
    [showModal]="modalConfirmAutoComplete"
    [title]="'Um ou mais produtos agrupados foram selecionados'"
    [text]="'Deseja adicionar todos os produtos do agrupamento?'"
    (confirmClick)="postAutoCompleteListSeletected(true)"
    (denyClick)="postAutoCompleteListSeletected()">
</fs-modal-confirm-deny>
