.autocompleteBox{max-width: 650px;}
.listAlign{
    .item{width:100%;max-width: 100px;overflow: hidden;
        &:nth-child(1){max-width: 20px;overflow: visible;}
        &:nth-child(2){max-width: 140px;}
        &:nth-child(3){max-width: 300px;}
        &:nth-child(4){max-width: 300px;}
        &:nth-child(6){max-width: 170px;}
        &:nth-child(7){max-width: 150px;}
        &:nth-child(8){max-width: 230px;}
        &:nth-child(n+5):nth-child(-n+7){text-align: center;}
        &:last-child{max-width: 60px;text-align: right}
        input{width: 100%;padding: 2px 0;text-align: center;background-color: var(--cl-gray);}
    }
}
.listAnalyzed{
    .listAlign .item{
        &:nth-child(5){max-width: 100px;}
        &:nth-child(6){max-width: 200px;}
    }
}
.listBox{height: auto;max-height: 340px}

.importOptionBox{position: absolute;top: 36px;width: 100%;height: auto;background-color: var(--secondary-color);padding: 10px;border-radius: 4px;}
