.userBox {
    .mat-tab-label {
        &:not(.mat-tab-disabled) .mat-tab-label-content {
            font-weight: bold;
        }
    }
}

.listUserBox {
    //position: relative;
    //max-height: 500px;
    //overflow: hidden;
    //background-color: var(--cl-gray-light);
    //z-index: 2;
    .listAlign {
        //padding: 3px 5px;
        //margin: 0;

        &.listHeader {
            background: var(--cl-green);

            h3 {
                color: var(--secondary-color);
            }
        }

        &.listBgColor {
            background-color: var(--secondary-color);
        }
        .item{overflow: hidden;margin-right: 5px;
            &:nth-child(1){max-width: 25%;}
            &:nth-child(2){max-width: 10%;}
            &:nth-child(3){max-width: 20%;}
            &:nth-child(4){max-width: 25%;}
            &:nth-child(5){max-width: 5%;}
            &:nth-child(6){max-width: 5%;}
            &:last-child{max-width: 10%;}
        }
    }
}
