<div class="main">
    <div class="container maxSizeD">

        <div class="listUserBox bg-gray-light pdg2">
            <div class="listTop flex pdgB2 mrgB2">
                <h2 class="sizeA fontBold">Usuários</h2>
            </div>
            <div class="flex bottom pdgB1 borderBottom">
                <fs-search-line [placeholderText]="'Nome, usuário, e-mail...'" (onKeyPress)="filterUserSearch($event)"></fs-search-line>
                <button class="btn btn-primary-bg" (click)="showModalUser()">Cadastrar</button>
            </div>
            <div class="flex listAlign listHeader">
                <h3 class="item sizeC">Nome</h3>
                <h3 class="item sizeC">Usuário</h3>
                <h3 class="item sizeC">E-mail</h3>
                <h3 class="item sizeC">Filial</h3>
                <h3 class="item sizeC">Admin</h3>
                <h3 class="item sizeC">Ativo</h3>
                <h3 class="item sizeC">Ações</h3>
            </div>
            <ul class="listBox">
                <li *ngFor="let user of userListSearch;let userIndex = index"
                    class="flex top listAlign {{userIndex % 2 == 0 ? 'listBgColor' : ''}}">
                    <span class="sizeC item">{{user['name']}}</span>
                    <span class="sizeC item">{{user['user']}}</span>
                    <span class="sizeC item">{{user['email']}}</span>
                    <span class="sizeC item">{{user['branch_ids']}}</span>
                    <span class="sizeC item">{{user['admin']}}</span>
                    <span class="sizeC item">{{user['active'] == 1 ? "Sim" : "Não"}}</span>
                    <span class="sizeC item">
                          <fa-icon
                                   [icon]="iconRegularService.faEdit" size="3x" (click)="showModalUser(user['id'])"
                                   class="iconItem iconSizeG cl-green clickPlace  mrgR1"
                                   title="Editar"></fa-icon>
                            <fa-icon *ngIf="user['active'] == 1" (click)="showModalRemoveUser(user['id'])"
                                     [icon]="iconSolidService.faTrashAlt" size="3x"
                                     class="iconItem iconSizeG cl-red clickPlace mrgL1"
                                     title="Remover"></fa-icon>
                        <fa-icon *ngIf="user['active'] == 0" (click)="activeUser(user['id'])"
                                 [icon]="iconSolidService.faCheck" size="3x"
                                 class="iconItem iconSizeG cl-green clickPlace mrgL1"
                                 title="Ativar"></fa-icon>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>

<fs-modal-confirm
    [showModal]="modalRemoveUser"
    [title]="'Deseja excluir este usuário?'"
    [btnText]="'Excluir'"
    (confirmClick)="deleteUser(userSelectedId)"
    (hideModal)="hideModalRemoveUser()">
</fs-modal-confirm>

<fs-user-modal-form
    [showModal]="modalUser"
    [userId]="userSelectedId"
    (hideModal)="hideModalUser()">
</fs-user-modal-form>
