<div class="main">
    <div class="container">
        <div class="notificationBox bg-gray-light">
            <div class="flex pdgT2 pdgL2 mrgB2">
                <h2 class="sizeA fontBold">Guia da farmácia</h2>
            </div>
            <div class="promotionListBox pdg2">
                <div class="pdgB1 borderBottom">
                    <fs-search-line [placeholderText]="'Código de barra, Nome...'"  (onKeyPress)="filterProductSearch($event)"></fs-search-line>
                </div>
                <div class="listBoxSlideMob" [formGroup]="productGuideForm">
                    <div class="flex listAlign listHeader">
                        <span class="item flex start">
                            <label class="radioBox hd1 sizeC">
                                <input (change)="productGuideFormSelectAll('all')" [formControlName]="'allSelected'" type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        </span>
                        <h3 (click)="orderByString('bar_code')" class="item sizeC clickPlace {{productListCurrentOrder == 'bar_code' ? 'fontBold' : ''}}">Código de barras</h3>
                        <h3 (click)="orderByString('description')" class="item sizeC clickPlace {{productListCurrentOrder == 'description' ? 'fontBold' : ''}}">Nome</h3>
                        <h3 (click)="orderByNumber('sell_value')" class="item sizeC clickPlace {{productListCurrentOrder == 'sell_value' ? 'fontBold' : ''}}">R$ Venda</h3>
                        <h3 (click)="orderByNumber('max_price_17')" class="item sizeC clickPlace {{productListCurrentOrder == 'max_price_17' ? 'fontBold' : ''}}">Guia PMC</h3>
                        <h3 (click)="orderByNumber('percent')" class="item sizeC clickPlace {{productListCurrentOrder == 'percent' ? 'fontBold' : ''}}">Percentual</h3>
                        <h3 (click)="orderByNumber('fraction')" class="item sizeC clickPlace {{productListCurrentOrder == 'percent' ? 'fontBold' : ''}}">Fração</h3>
                        <h3 class="item sizeC clickPlace">Aplicar fração</h3>
                    </div>
                    <ul class="listBox" [formArrayName]="'lines'">
                        <li *ngFor="let product of productListFilteredSearch;let productIndex = index" [formGroupName]="productIndex" class="flex top listAlign">
                            <span class="item flex start">
                                <label class="radioBox hd1 sizeC">
                                    <input (change)="productGuideFormSelectAll('one')" [formControlName]="'selected'" type="checkbox">
                                    <span class="checkmark"></span>
                                </label>
                            </span>
                            <span class="item sizeC">{{product['bar_code']}}</span>
                            <span class="item sizeC">{{product['description']}} {{product['presentation']}}</span>
                            <span class="item sizeC">R$ {{product['sell_value']}}</span>
                            <span class="item sizeC">R$ {{product['max_price_17']}}</span>
                            <span class="item sizeC fontBold {{getPercentColor(product['percent'])}}">{{product['percent']}} %</span>
                            <span class="item sizeC">{{product['fraction']}}</span>
                            <span class="item">
                                <label class="switchBox switchSmall">
                                    <input  [checked]="product['apply_fraction'] == 1" (change)="toggleFraction(product['code'], product['apply_fraction'])" class="switchInput" type="checkbox">
                                    <span class="switch"></span>
                                </label>
                                <fa-icon (click)="showModalDeleteProduct(product['code'])" [icon]="iconSolidService.faTrashAlt" size="3x" class="iconItem iconSizeG cl-gray-dark clickPlace mrgL1" title="Excluir"></fa-icon>
                            </span>
                        </li>
                        <li *ngIf="productListFilteredSearch.length == 0">
                            <p class="sizeC" *ngIf="productList.length > 0 && productList[0]['loading']">Carregando...</p>
                            <p class="sizeC" *ngIf="productList.length > 0 && !productList[0]['loading'] && productListFilteredSearch.length == 0">Nenhum produto correspondente.</p>
                            <p class="sizeC" *ngIf="productList.length == 0">Nenhum produto encontrado.</p>
                        </li>
                    </ul>
                    <div class="flex pdgT2 {{paginationLastPage != 1 ? '' : 'center'}}">
                        <div *ngIf="paginationLastPage != 1" class="wdHere"></div>
                        <button (click)="showModalPostGuide()" class="btn flex center btnSmall btn-primary-bg mrgL1">Atualizar</button>
                        <fs-pagination
                            *ngIf="paginationLastPage != 1"
                            [currentPage]="paginationCurrentPage"
                            [lastPageNum]="paginationLastPage"
                            (firstPage)="loadProductList(1)"
                            (previousPage)="loadProductList(paginationCurrentPage-1)"
                            (nextPage)="loadProductList(paginationCurrentPage+1)"
                            (lastPage)="loadProductList(paginationLastPage)"
                        ></fs-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<fs-modal-confirm
    [showModal]="modalPostGuide"
    [title]="'Atualizar produtos selecionados?'"
    [btnText]="'Atualizar'"
    (hideModal)="hideModalPostGuide()"
    (confirmClick)="sendProductGuide()">
</fs-modal-confirm>

<fs-modal-confirm
    [showModal]="modalDeleteProductGuide"
    [title]="'Deseja Excluir este produto do guia da farmácia?'"
    [btnText]="'Inativar'"
    (confirmClick)="deleteGuiadaFarmacia()"
    (hideModal)="hideModalDeleteProduct()">
</fs-modal-confirm>
