.headerBox{display: flex;align-items: center;justify-content: space-between;height: 70px;padding: 10px 0 10px;margin: 0 60px 0 60px;
    .headerLeftBox{width: 100%;min-width: 130px;max-width: 250px;}
    .headerCenterBox{width: 100%;max-width: 100%;margin: 0 20px;}
    .headerRightBox{width: 100%;max-width: 200px;
        .menuUserDrop{position: relative; max-width: 80px;border-radius: 4px;z-index: 1;
            &:hover,&.active{background-color: rgba(0,0,0,0.07);}
            img{max-height: 30px;}
            .menuUser{padding: 10px;z-index: 1;
                img{max-width: 30px};
                *{z-index: -1;}
            }
            .menuUserBox{opacity: 0;visibility: hidden;z-index: -1;position: absolute;top: 0;right: 0;width: 150px;background-color: #ffffff;padding: 10px 15px;border-radius: 4px;box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);transform: translate(0, 20px);transition: all 0.4s ease;
                &:after{bottom: 100%;left: 78%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-bottom-color: #ffffff;border-width: 6px;margin-left: -6px;}
                .menuUserItem{display: flex; align-items: center;justify-content: flex-start;margin: 0 0 10px;
                    img{max-height: 30px;margin-right: 10px;}
                    span{}
                }
                .detail{height: 1px;}
            }
            &.active{
                .menuUserBox{z-index: 1;opacity: 1;visibility: visible;transform: translate(0, 55px);}
            }
        }
    }
}
.badge{
    display: inline-block;
    padding: .35em .65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    background-color: #dc3545!important;
}
