<nav class="headerBox">
    <span *ngIf="isHomologation" class="badge">Ambiente de Homologação</span>
    <div class="headerLeftBox">
    </div>
    <div class="headerCenterBox">
    </div>
    <div class="headerRightBox flex">
        <div (click)="syncData()" class="flex syncBtnBox pdg1 clickPlace">
            <fa-icon [icon]="iconSolidService.faSyncAlt" size="3x" class="iconItem iconSizeF cl-green"></fa-icon>
            <span class="sizeC mrgL1">Sincronizar</span>
        </div>
        <div [ngClass]="menuUserActive?'active':''" class="menuUserDrop">
            <div #menuUser (click)="toggleMenuUser()" class="menuUser flex center clickPlace">
                <img [src]="previewUrl" alt="collaboratorImg" (error)="resetUrlImg()" class="imgBorder">
            </div>
            <div class="menuUserBox">
                <div class="menuUserItem mrgB1 clickPlace" title="Opção 1">
                    <fa-icon [icon]="iconRegularService.faBuilding" size="3x" class="iconItem iconSizeF cl-green"></fa-icon>
                    <span class="sizeC mrgL1">Opção 1</span>
                </div>
                <div class="menuUserItem mrgB1 clickPlace" title="Opção 2">
                    <fa-icon [icon]="iconSolidService.faHeadset" size="3x" class="iconItem iconSizeF cl-green"></fa-icon>
                    <span class="sizeC mrgL1">Opção 2</span>
                </div>
                <div class="detail bg-gray mrgB1"></div>
                <div (click)="logout()" class="menuUserItem clickPlace" title="Sair">
                    <fa-icon [icon]="iconSolidService.faSignOutAlt" size="3x" class="iconItem iconSizeF cl-green"></fa-icon>
                    <span class="sizeC mrgL1">Sair</span>
                </div>
            </div>
        </div>
    </div>
</nav>
