<fs-modal-default
    [showModal]="showModal"
    (hideModal)="closeModal()">
    <div class="minHeightBox modalSizeB" [formGroup]="promotionForm">
        <div class="mrgB2">
            <h2 class="sizeA cl-green fontUp fontBold mrgB1">{{updateOn ? 'Editar' : 'Nova'}} Promoção</h2>
        </div>
        <div class="promotionFormBox mrgB2">
            <div class="minHeightBox pdgT2 mrgT2">
                <div class="flex mrgB2">
                    <div class="form-group inputAnimated itemName">
                        <input [formControlName]="'name'" class="{{stateFields['name']['class']}}" id="name" placeholder="" required type="text" autocomplete="off">
                        <label class="form-label" for="name">*Nome da Promoção</label>
                    </div>
                    <div class="pdg2"></div>
                    <div class="form-group inputAnimated itemPriority">
                        <input [formControlName]="'priority'" id="priority" placeholder="" required type="text" min="1" max="5" autocomplete="off">
                        <label class="form-label" for="priority">Prioridade</label>
                    </div>
                </div>
                <div class="flex mrgB2">
                    <div class="form-group inputAnimated">
                        <input [formControlName]="'begin_date_form'" [dropSpecialCharacters]="false" id="begin_date_form" placeholder="" required type="text" mask="00/00/0000" autocomplete="off">
                        <label class="form-label" for="begin_date_form">Data início</label>
                    </div>
                    <div class="pdg2"></div>
                    <div class="form-group inputAnimated">
                        <input [formControlName]="'end_date_form'" [dropSpecialCharacters]="false" id="end_date_form" placeholder="" required type="text" mask="00/00/0000"  autocomplete="off">
                        <label class="form-label" for="end_date_form">Data fim</label>
                    </div>
                </div>
                <div class="flex"></div>
                <div class="flex alignHere pdgB1">
                    <label class="radioBox sizeC">Segunda-Feira
                        <input (change)="setDayId(1)" [checked]="day_of_week.indexOf(1) != -1" type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="flex alignHere pdgB1">
                    <label class="radioBox sizeC">Terça-Feira
                        <input (change)="setDayId(2)" [checked]="day_of_week.indexOf(2) != -1" type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="flex alignHere pdgB1">
                    <label class="radioBox sizeC">Quarta-Feira
                        <input (change)="setDayId(3)" [checked]="day_of_week.indexOf(3) != -1" type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="flex alignHere pdgB1">
                    <label class="radioBox sizeC">Quinta-Feira
                        <input (change)="setDayId(4)" [checked]="day_of_week.indexOf(4) != -1" type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="flex alignHere pdgB1">
                    <label class="radioBox sizeC">Sexta-Feira
                        <input (change)="setDayId(5)" [checked]="day_of_week.indexOf(5) != -1" type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="flex alignHere pdgB1">
                    <label class="radioBox sizeC">Sábado
                        <input (change)="setDayId(6)" [checked]="day_of_week.indexOf(6) != -1" type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="flex alignHere pdgB1">
                    <label class="radioBox sizeC">Domingo
                        <input (change)="setDayId(7)" [checked]="day_of_week.indexOf(7) != -1" type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="flex">
            <button (click)="closeModal()" class="btn btn-primary">Cancelar</button>
            <button (click)="sendPromotion()" class="btn btn-primary-bg mrgL20">{{updateOn?'Salvar':'Cadastrar'}}</button>
        </div>
    </div>
</fs-modal-default>
