<div class="main-fluid">
    <fs-menu></fs-menu>
    <div class="main-content fullHeight">
        <fs-header ></fs-header>
        <router-outlet></router-outlet>
        <fs-footer></fs-footer>
    </div>
</div>

<ngx-spinner bdColor="rgba(0,0,0,0.6)" size="medium" color="#fff" type="pacman" [fullScreen]="true"></ngx-spinner>
