.main-fluid{position: relative;display: flex;height: inherit;min-height: 100%;
    fs-menu{width: 90px;max-width: 80px;transition: all .2s ease;z-index: 9;}
    .main-content{width: 100%}
}

.fullHeight{min-height: 100%;padding: 0 0 40px;
    fs-footer{position: absolute;bottom: 0;}
}

@media (max-width: 768px){
    .main-fluid{
        .mobToggleCover{position: absolute;top: 0;left: -100%;display: block;width: 100%;height: 100%;z-index: -99;opacity: 0;
            &.expanded{left: 0;z-index: 1;opacity: 1;}
        }
        fs-menu{position: absolute;top: 0;left: -240px;max-width: 240px;height: 100%;z-index: 90;background-color: var(--background-color);
            &.expanded{left: 0;}
        }
    }
}
