<fs-modal-default
    [showModal]="showModal"
    (hideModal)="closeModal()">
    <div class="productFormBox modalSizeB" [formGroup]="productForm">
        <div class="mrgB2">
            <h2 class="sizeA cl-green fontUp fontBold mrgB1">{{updateOn ? 'Editar' : 'Nova'}} Produto</h2>
        </div>
        <div class="minHeightBox pdgT2 mrgB2">
            <div class="flex mrgB2">
                <mat-form-field class="wdFull">
                    <mat-label>Código</mat-label>
                    <input matInput [formControlName]="'product_code'" placeholder="Código" type="text">
                    <mat-error *ngIf="productForm.controls['product_code'].hasError('required')">Este campo é necessário</mat-error>
                </mat-form-field>
                <div class="pdg2"></div>
                <mat-form-field class="wdFull">
                    <mat-label>Código de Barras</mat-label>
                    <input matInput [formControlName]="'bars'"  placeholder="Código de Barras" type="text">
                    <mat-error *ngIf="productForm.controls['bars'].hasError('required')">Este campo é necessário</mat-error>
                </mat-form-field>
            </div>
            <div class="flex mrgB2">
                <mat-form-field class="wdFull">
                    <mat-label>Descrição</mat-label>
                    <input matInput [formControlName]="'description'" placeholder="Descrição" type="text">
                    <mat-error *ngIf="productForm.controls['description'].hasError('required')">Este campo é necessário</mat-error>
                </mat-form-field>
                <mat-form-field class="wdFull">
                    <mat-label>Apresentação</mat-label>
                    <input matInput [formControlName]="'presentation'" placeholder="Apresentação" type="text">
                    <mat-error *ngIf="productForm.controls['presentation'].hasError('required')">Este campo é necessário</mat-error>
                </mat-form-field>
            </div>
            <div class="flex alignHere mrgB2">
                <mat-form-field class="wdFull">
                    <mat-label>Preço de venda</mat-label>
                    <span matPrefix class="pdgR1">R$</span>
                    <input matInput (change)="validPriceValue('sell_value');calcValue('sell_value')" [formControlName]="'sell_value'" placeholder="Preço de venda R$" type="text">
                    <mat-error *ngIf="productForm.controls['sell_value'].hasError('required')">Este campo é necessário</mat-error>
                </mat-form-field>
                <mat-form-field class="wdFull">
                    <mat-label>Preço de Custo</mat-label>
                    <span matPrefix class="pdgR1">R$</span>
                    <input matInput (change)="validPriceValue('cost_price');calcValue('cost_price')" [formControlName]="'cost_price'" placeholder="Preço de Custo R$" type="text">
                    <mat-error *ngIf="productForm.controls['cost_price'].hasError('required')">Este campo é necessário</mat-error>
                </mat-form-field>
                <mat-form-field class="wdFull">
                    <mat-label>Custo Médio</mat-label>
                    <span matPrefix class="pdgR1">R$</span>
                    <input matInput (change)="validPriceValue('medium_cost');calcValue('medium_cost')" [formControlName]="'medium_cost'" placeholder="Custo Médio R$" type="text">
                    <mat-error *ngIf="productForm.controls['medium_cost'].hasError('required')">Este campo é necessário</mat-error>
                </mat-form-field>
                <mat-form-field class="wdFull">
                    <mat-label>Lucro</mat-label>
                    <input matInput (change)="validPriceValue('profit');calcValue('profit')" [formControlName]="'profit'" placeholder="Lucro %" type="text">
                    <span matSuffix class="pdgL1">%</span>
                    <mat-error *ngIf="productForm.controls['profit'].hasError('required')">Este campo é necessário</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="flex">
            <button (click)="closeModal()" class="btn btn-primary">Cancelar</button>
            <button (click)="sendProduct()" class="btn btn-primary-bg mrgL20">{{updateOn?'Salvar':'Cadastrar'}}</button>
        </div>
    </div>
</fs-modal-default>

<fs-modal-confirm-deny
    [showModal]="modalGrouped"
    [title]="'Um produto agrupado foi selecionado'"
    [text]="'Deseja adicionar todos os produtos do agrupamento?'"
    (confirmClick)="confirmDenyGrouped(true)"
    (denyClick)="confirmDenyGrouped()">
</fs-modal-confirm-deny>


