<div class="main">
    <div class="container">
        <div class="notificationBox bg-gray-light">
            <div class="flex top pdg2">
                <h2 class="sizeA fontBold">Notificações</h2>
                <fs-multiselect
                    class="multiSelectBox"
                    [list]="branchList"
                    [listItemIdField]="'id'"
                    [listItemNameField]="'name'"
                    [placeholderText]="'Selecione a Filial'"
                    (listSelectedEmit)="setBranchListId($event)"
                ></fs-multiselect>

                <div class="btnBox floatRight">
                    <button class="btn btn-primary-bg">Cadastrar</button>
                </div>
            </div>
            <div class="flexDesk top">
                <div class="flexDesk wdFull">
                    <mat-tab-group class="wdFull" mat-align-tabs="start" (selectedTabChange)="onTabChange($event)">
                        <mat-tab label="1">
                            <div class="pdg2">
                                <ng-template mat-tab-label>
                                    Tarefa
                                </ng-template>
                                <p class="sizeC" *ngIf="notificationListFiltered && notificationListFiltered.length == 0">Nenhuma notificação encontrada.</p>
                            </div>
                        </mat-tab>
                        <mat-tab label="3">
                            <div class="pdg2">
                                <ng-template mat-tab-label>
                                    Zerar Estoque
                                </ng-template>
                                <p class="sizeC" *ngIf="notificationListFiltered && notificationListFiltered.length == 0">Nenhuma notificação encontrada.</p>
                            </div>
                        </mat-tab>
                        <mat-tab label="2">
                            <div class="pdg2">
                                <ng-template mat-tab-label>
                                Precificar
                                </ng-template>
                                <fs-search-line [placeholderText]="'Código de barra, Nome...'"  (onKeyPress)="filterNotificationSearch($event)"></fs-search-line>
                                <div class="priceList">
                                    <div class="flex listAlign listHeader">
                                        <span class="item flex start">
                                            <label class="radioBox hd1 sizeC">
                                                <input (change)="checkAllPrice('all')" [formControl]="allPriceCheck" type="checkbox">
                                                <span class="checkmark"></span>
                                            </label>
                                        </span>
                                        <h3 class="item sizeC">Código</h3>
                                        <h3 class="item sizeC">Nome</h3>
                                        <h3 class="item sizeC">Obs</h3>
                                        <h3 class="item sizeC">Valor</h3>
                                        <h3 class="item sizeC">Valor Desconto</h3>
                                        <h3 class="item sizeC">Filial</h3>
                                        <h3 class="item sizeC">Ações</h3>
                                    </div>
                                    <ul class="listBox">
                                        <li *ngFor="let notification of notificationListFiltered" class="flex top listAlign">
                                            <span class="item flex start">
                                                <label class="radioBox hd1 sizeC">
                                                    <input (change)="checkAllPrice('one',notification)" type="checkbox" [checked]="notificationListSelectedCode.indexOf(notification['code']) >= 0">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </span>
                                            <span class="item sizeC">{{notification['bar_code']}}</span>
                                            <span class="item sizeC">{{notification['description']}} {{notification['presentation']}}</span>
                                            <span class="item sizeC" [innerHTML]="notification['observation']"></span>
                                            <span class="item sizeC">{{notification['sell_value']| currency: 'BRL' : 'R$'}}</span>
                                            <span class="item {{notification['promo'].length > 1 ? 'block' : ''}}">
                                                <span *ngFor="let promo of notification['promo']" class="sizeC">{{ promo['amount'] }}: {{ promo['price'] | currency: 'BRL' : 'R$'}} - {{ promo['perc'] }} %</span>
                                            </span>
                                            <span class="item sizeC" [innerHTML]="notification['branch_id']"></span>
                                            <span class="item sizeC">
                                                <fa-icon (click)="showModalCheckNotification(notification['id'])" [icon]="iconSolidService.faCheck" size="3x" class="iconItem iconSizeG cl-green clickPlace" title="Precificar"></fa-icon>
                                                <fa-icon (click)="showModalRemoveNotification(notification['id'])" [icon]="iconSolidService.faTrashAlt" size="3x" class="iconItem iconSizeG cl-red clickPlace mrgL1" title="Remover"></fa-icon>
                                            </span>
                                        </li>
                                        <li *ngIf="notificationListFiltered.length == 0">
                                            <p class="sizeC" *ngIf="notificationList.length > 0 && notificationList[0]['loading']">Carregando...</p>
                                            <p class="sizeC" *ngIf="notificationList.length > 0 && !notificationList[0]['loading'] && notificationListFiltered.length == 0">Nenhum notificação correspondente.</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="flex pdgT2">
                                    <div class="flex start">
                                        <button (click)="printTag()" class="btn flex center btnAuto btn-primary-bg">Imprimir etiquetas</button>
                                        <button (click)="showModalCheckNotification()" class="btn flex center btnAuto btn-primary-bg mrgL1" type="button">Precificar
                                            <fa-icon [icon]="iconSolidService.faCheck" size="3x" class="iconItem iconSizeG cl-black mrgL1" title="Remover"></fa-icon>
                                        </button>
                                        <button (click)="showModalRemoveNotification()" class="btn flex center btnAuto btn-primary-bg mrgL1" type="button">Remover
                                            <fa-icon [icon]="iconSolidService.faTrashAlt" size="3x" class="iconItem iconSizeG cl-black mrgL1" title="Remover"></fa-icon>
                                        </button>
                                    </div>
                                    <div class="flex end mrgL1">
                                        <fs-pagination
                                            *ngIf="paginationLastPage != 1"
                                            [currentPage]="paginationCurrentPage"
                                            [lastPageNum]="paginationLastPage"
                                            (firstPage)="loadNotificationList(1)"
                                            (previousPage)="loadNotificationList(paginationCurrentPage-1)"
                                            (nextPage)="loadNotificationList(paginationCurrentPage+1)"
                                            (lastPage)="loadNotificationList(paginationLastPage)"
                                        ></fs-pagination>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="4" disabled>
                            <ng-template mat-tab-label>
                                Tarefa
                            </ng-template>
                            <p class="sizeC">Em desenvolvimento.</p>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>

<fs-modal-confirm
    [showModal]="modalCheckNotification"
    [title]="notificationSelectedId ? 'Deseja precificar esta notificação?' : 'Deseja precificar as notificações selecionadas?'"
    [btnText]="'Precificar'"
    (confirmClick)="checkNotification(notificationSelectedId)"
    (hideModal)="hideModalCheckNotification()">
</fs-modal-confirm>

<fs-modal-confirm
    [showModal]="modalRemoveNotification"
    [title]="notificationSelectedId ? 'Deseja excluir esta notificação?' : 'Deseja excluir as notificações selecionadas?'"
    [btnText]="'Excluir'"
    (confirmClick)="deleteNotification(notificationSelectedId)"
    (hideModal)="hideModalRemoveNotification()">
</fs-modal-confirm>


