.notificationBox {
    .mat-tab-label {
        &:not(.mat-tab-disabled) .mat-tab-label-content {
            font-weight: bold;
        }
    }
}

.multiSelectBox{width: auto;min-width: 300px;max-width: 550px;}

.priceList{
    .listAlign{
        .item{width: 100%;
            &:nth-child(1){max-width: 20px;overflow: visible;}
            &:nth-child(2){max-width: 120px;}
            &:nth-child(3){max-width: 300px;}
            &:nth-child(4){max-width: 200px;}
            &:nth-child(5){max-width: 100px;}
            &:nth-child(6){max-width: 200px;}
            &:last-child{max-width: 60px;text-align: right}
        }
    }
}
