<div class="flex start">
    <div *ngIf="skipMonthBtn" class="skipMonthBtn flex start">
        <fa-icon (click)="skipMonth(-1)" [icon]="iconSolidService.faArrowLeft" size="3x" class="iconItem iconSizeG cl-gray-dark clickPlace mrgR1" title="Retroceder um mês"></fa-icon>
    </div>
    <fs-datepicker
        [labelText]="firstDateLabel"
        [minDate]="minDate"
        [startDate]="firstDateStart"
        [currentDate]="firstDateSkip"
        [maxDate]="maxDate"
        (dateSelectedEN)="setFirstDate($event)">
    </fs-datepicker>
    <span class="spacer"></span>
    <fs-datepicker
        [labelText]="secondDateLabel"
        [minDate]="functionsService.getDayAfter(firstDate,1)"
        [startDate]="secondDateStart"
        [currentDate]="secondDateSkip"
        [maxDate]="maxDate"
        (dateSelectedEN)="setSecondDate($event)">
    </fs-datepicker>
    <div *ngIf="skipMonthBtn" class="skipMonthBtn flex start">
        <fa-icon (click)="skipMonth(1)" [icon]="iconSolidService.faArrowRight" size="3x" class="iconItem iconSizeG cl-gray-dark clickPlace mrgL1" title="Avançar um mês"></fa-icon>
    </div>
</div>
