fs-datepicker{display: inline-block;width: 100%;min-width: 140px;margin: -20px 0 -6px;}
.spacer{display: inline-block;width: 100%;min-width: 20px;max-width: 20px;}

.skipMonthBtn{
    .spacer{max-width: 10px;}
}
@media (max-width: 400px) {
    fs-datepicker{min-width: 110px;}
}
