<h2>Uidade Mondai</h2>
<div class="flex bottom pdgB1 borderBottom">
    <fs-search-line [placeholderText]="'Código de barra, Nome...'"  (onKeyPress)="filterProductSearch($event)"></fs-search-line>
    <div *ngIf="userAdmin" class="flex end">
        <button class="btn {{productFilterSim ? 'btn-primary-bg' : ''}}" (click)="productFilterToggleSimulation()">Simular Preços</button>
    </div>
    <div *ngIf="!userAdmin"></div>
</div>
<div [formGroup]="productLineForm" class="listBoxSlideMob {{productFilterSim ? 'filterSimulationOn' : 'filterSimulationOff'}} {{productFilterSimCompact ? 'filterSimCompactOn':'filterSimCompactOff'}}">
    <div class="flex listAlign listHeader">
        <div class="item">
            <h3 (click)="orderByNumber('bar_code')" class="cellItem sizeC clickPlace {{productListCurrentOrder == 'bar_code' ? 'fontBold' : ''}}">Código de barras</h3>
            <h3 (click)="orderByString('description')" class="cellItem sizeC clickPlace {{productListCurrentOrder == 'description' ? 'fontBold' : ''}}">Nome</h3>
        </div>
        <h3 class="item sizeC simOff">ABC</h3>
        <h3 class="item sizeC simOff">Preço Custo</h3>
        <h3 class="item sizeC simOff">Preço médio</h3>
        <h3 class="item sizeC simOff">Preço Venda</h3>
        <h3 class="item sizeC simOff">Margem</h3>
        <h3 class="item sizeC simOff">Perc. Promoção</h3>
        <h3 class="item sizeC simOff">Preço Promoção</h3>
        <h3 class="item sizeC simOff">Promoção</h3>
        <h3 class="item sizeC simOff">Estoque</h3>
        <h3 class="item sizeC simOff">Ult Alt Preço</h3>
        <h3 class="item sizeC simOff">Ação</h3>

        <h3 class="item sizeC simOn clickPlace commissionItem">Comissão</h3>
<!--        <h3 class="item sizeC simOn clickPlace">custo fixo</h3>-->
        <h3 class="item sizeC simOn clickPlace">Custo Médio</h3>
        <h3 class="item sizeC simOn clickPlace">Valor Venda</h3>
        <h3 class="item sizeC simOn selectItem">Valor Promo</h3>
        <h3 class="item sizeC simOn clickPlace">Icms</h3>
<!--        <h3 class="item sizeC simOn clickPlace">Custo Médio</h3>-->

        <h3 (click)="orderByNumber('icmsValue')" class="item sizeC simOn clickPlace simCompactOff {{productListCurrentOrder == 'icmsValue' ? 'fontBold' : ''}}">Vlr ICM</h3>
        <h3 (click)="orderByNumber('custo')" class="item sizeC simOn clickPlace {{productListCurrentOrder == 'custo' ? 'fontBold' : ''}}">Custo</h3>
        <h3 (click)="orderByNumber('margemLiquida')" class="item sizeC simOn clickPlace {{productListCurrentOrder == 'margemLiquida' ? 'fontBold' : ''}}">Margem Liq</h3>
        <h3 (click)="orderByNumber('receitaLiquida')" class="item sizeC simOn clickPlace {{productListCurrentOrder == 'receitaLiquida' ? 'fontBold' : ''}}">Receita Liq</h3>
        <h3 (click)="orderByNumber('lucroLiquidoValor')" class="item sizeC simOn clickPlace {{productListCurrentOrder == 'lucroLiquidoValor' ? 'fontBold' : ''}}">Val L. Liq</h3>
        <h3 (click)="orderByNumber('lucroLiquidoPerc')" class="item sizeC simOn clickPlace {{productListCurrentOrder == 'lucroLiquidoPerc' ? 'fontBold' : ''}}">Lucro Liq</h3>
        <h3 class="item sizeC simOn">Ação</h3>
    </div>
    <ul class="listBox" [formArrayName]="'lines'">
        <li *ngFor="let product of productListFilteredSearch;let productIndex = index" [formGroupName]="productIndex"  class="flex top listAlign {{productIndex % 2 == 0 ? 'listBgColor' : ''}}">
            <span class="item">
                <table class="flex wdFull">
                    <tr class="flex wdFull">
                        <td class="flex cellItem start sizeC">
                            <span *ngIf="product['tax']['taxType'] != null" class="iconMoney mrgR1">
                                <fa-icon [icon]="iconSolidService.faMoneyBillWaveAlt" size="3x" class="iconItem iconSizeG {{productMoneyIconArray[product['tax']['taxType']]['color']}}" title="{{productMoneyIconArray[product['tax']['taxType']]['title']}}"></fa-icon>
                            </span>
                            <span class="flex center iconFlag">
                                <a href="https://www.google.com/search?q={{product['bar_code']}}&tbm=shop" target="_blank" title="">
                                    <img *ngIf="product['code_origin'] == 0 || (product['code_origin'] > 2 && product['code_origin'] < 6) || product['code_origin'] == 8" src="assets/img/icon-brazil.png" class="iconBrazil" alt="">
                                    <img *ngIf="product['code_origin'] == 1 || product['code_origin'] == 2 || product['code_origin'] == 6 || product['code_origin'] == 7" src="assets/img/icon-usa.png" class="iconUSA" alt="">
                                </a>
                            </span>
                            {{product['bar_code']}}
                        </td>
                        <td class="flex cellItem start sizeC {{getExpirationDateClass(product['daysToExpire'])}}">
                            <span class="iconStar">
                                <fa-icon *ngIf="product['product_code_main'] != null && product['code'] == product['product_code_main']" [icon]="iconSolidService.faStar" size="3x" class="iconItem iconSizeH cl-gray-dark" title="Agrupador"></fa-icon>
                                <fa-icon *ngIf="product['product_code_main'] != null && product['code'] != product['product_code_main']" [icon]="iconRegularService.faStar" size="3x" class="iconItem iconSizeH cl-gray-dark" title="Agrupado"></fa-icon>
                            </span>
                            {{product['description']}} {{product['presentation']}}
                        </td>
                    </tr>
                </table>
            </span>
            <span class="item sizeC simOff"><span class="flex">{{product['product_extra_simple_two']['abc_curve']}}</span></span>
            <span class="item sizeC simOff"><span class="flex">{{product['product_extra_simple_two']['cost_price']}}</span></span>
            <span class="item sizeC simOff"><span class="flex">{{product['product_extra_simple_two']['medium_cost']}}</span></span>
            <span class="item sizeC simOff"><span class="flex">{{product['product_extra_simple_two']['sell_value']}}</span></span>
            <span class="item sizeC simOff"><span class="flex">{{product['product_extra_simple_two']['profit']}}%</span></span>
            <span class="item sizeC simOff {{product['promotion_rule'].length > 1 ? 'block' : ''}}"><span *ngFor="let promotion of product['promotion_rule']" class="flex">{{promotion['amount']}}: {{promotion['perc']}}%</span></span>
            <span class="item sizeC simOff {{product['promotion_rule'].length > 1 ? 'block' : ''}}"><span *ngFor="let promotion of product['promotion_rule']" class="flex">{{promotion['amount']}}: R$ {{promotion['price']}}</span></span>
            <span class="item sizeC simOff">{{product['promotion_name']}}</span>
            <span class="item sizeC simOff"><span class="flex">{{product['product_extra_simple_two']['stock']}}</span></span>
            <span class="item sizeC simOff">{{getDateBr(product['last_price_update'])}}</span>
            <span class="item simOff">
                <fa-icon *ngIf="countStorage(product) == 0" (click)="showModalInactiveProduct(product['code'])" [icon]="iconSolidService.faTrashAlt" size="3x" class="iconItem iconSizeG cl-gray-dark clickPlace" title="Inativar produto"></fa-icon>
                <fa-icon (click)="hideProduct(product['code'])" [icon]="iconRegularService.faEyeSlash" size="3x" class="iconItem iconSizeG cl-gray-dark clickPlace" title="Esconder Produto"></fa-icon>
                <fa-icon (click)="showModalProduct(product['code'])" [icon]="iconRegularService.faEdit" size="3x" class="iconItem iconSizeG cl-gray-dark clickPlace" title="Editar produto"></fa-icon>
                <fa-icon (click)="showModalProductPromotion(product['code'])" [icon]="iconSolidService.faPercentage" size="3x" class="iconItem iconSizeG clickPlace {{product['promotion_name'] != null ? 'cl-red' : 'cl-gray-dark'}}" title="Promocionar"></fa-icon>
                <fa-icon *ngIf="product['promotion_name'] != null" (click)="showModalProductRemovePromotion(product['code'],product['promotion_id'])" [icon]="iconSolidService.faMinuSquare" size="3x" class="iconItem iconSizeG clickPlace cl-red" title="Remover produto da promoção: {{product['promotion_name']}}"></fa-icon>
            </span>
            <span class="item sizeC simOn commissionItem"><input onClick="this.select();" (change)="validLineValue(product['code'],'commission');inputChange(product['code'])" [formControlName]="'commission'" autocomplete="off" placeholder="" type="text"></span>
<!--            <span class="item sizeC simOn"><input onClick="this.select();" (change)="validLineValue(product['code'],'fix_cost');inputChange(product['code'])" [formControlName]="'fix_cost'" autocomplete="off" placeholder="" type="text"></span>-->
            <span class="item sizeC simOn"><input onClick="this.select();" (change)="validLineValue(product['code'],'mediumCostSimple');inputChange(product['code'])" [formControlName]="'mediumCostSimple'" autocomplete="off" placeholder="" type="text"></span>
            <span class="item sizeC simOn"><input onClick="this.select();" (change)="validLineValue(product['code'],'sell_price');inputChange(product['code'],true)" [formControlName]="'sell_price'" autocomplete="off" placeholder="" type="text"></span>
            <span class="item sizeC simOn selectItem">
                <span *ngIf="product['promotionSelectAvailable'] == true" class="form-group inputAnimated">
                    <select (change)="inputChange(product['code'])" [formControlName]="'sell_price_select'" class="fontBold" id="sell_price_select" required>
                        <option *ngFor="let promotion of product['promotion_rule']" [value]="promotion['price']" [selected]="lines.at(productIndex).get('sell_price_select').value == promotion['price']">{{promotion['amount']}}: {{promotion['price']}}</option>
                    </select>
                    <fa-icon [icon]="iconSolidService.faIndustry" size="3x" class="iconItem iconSizeG cl-gray-dark iconSelectField"></fa-icon>
                </span>
                <span *ngIf="product['promotionSelectAvailable'] == false">{{lines.at(productIndex).get('sell_price').value}}</span>
            </span>
            <span class="item sizeC simOn"><input onClick="this.select();" (change)="validLineValue(product['code'],'icms');inputChange(product['code'])" [formControlName]="'icms'" autocomplete="off" placeholder="" type="text"></span>
<!--            <span class="item sizeC simOn">{{product['icms']}} </span>-->
            <span class="item sizeC simOn">{{product['icmsValue']}} </span>
            <span class="item sizeC simOn">{{product['custo']}} </span>
            <span class="item sizeC simOn">{{product['margemLiquida'] != '-' ? product['margemLiquida'] + '%' : '-'}}</span>
            <span class="item sizeC simOn">{{product['receitaLiquida']}} </span>
            <span class="item sizeC simOn">{{product['lucroLiquidoValor']}} </span>
            <span class="item sizeC simOn fontBold resultItem {{product['lucroLiquidoPercClass']}}">{{product['lucroLiquidoPerc'] != '-' ? product['lucroLiquidoPerc'] + '%' : '-'}}</span>
            <span class="item simOn">
                <fa-icon (click)="showModalProductPromotion(product['code'], lines.at(productIndex).get('sell_price').value)" [icon]="iconSolidService.faPercentage" size="3x" class="iconItem iconSizeG cl-gray-dark clickPlace mrgL1" title="Promocionar"></fa-icon>
            </span>
        </li>
        <li *ngIf="productListFilteredSearch.length == 0">
            <p class="sizeC" *ngIf="productList.length > 0 && productList[0]['loading']">Carregando...</p>
            <p class="sizeC" *ngIf="productList.length > 0 && !productList[0]['loading'] && productListFilteredSearch.length == 0">Nenhum produto correspondente.</p>
            <p class="sizeC" *ngIf="productList.length == 0">Nenhum produto encontrado.</p>
        </li>
    </ul>
    <div class="flex end pdgT1">
        <fs-pagination
            *ngIf="paginationLastPage != 1"
            [currentPage]="paginationCurrentPage"
            [lastPageNum]="paginationLastPage"
            (firstPage)="loadProductList(1)"
            (previousPage)="loadProductList(paginationCurrentPage-1)"
            (nextPage)="loadProductList(paginationCurrentPage+1)"
            (lastPage)="loadProductList(paginationLastPage)"
        ></fs-pagination>
    </div>
</div>

<fs-product-modal-form
    [showModal]="modalProduct"
    [productCode]="productSelectedCode"
    (productUpdated)="loadProductList()"
    (hideModal)="hideModalProduct()"
></fs-product-modal-form>

<fs-product-modal-promotion
    [showModal]="modalProductPromotion"
    [productCode]="productSelectedCode"
    [productSellValue]="productSelectedSellValue"
    (hideModal)="hideModalProductPromotion()"
    (reloadList)="loadProductList()"
></fs-product-modal-promotion>

<fs-modal-confirm
    [showModal]="modalInactiveProduct"
    [title]="'Deseja Inativar este produto?'"
    [btnText]="'Inativar'"
    (confirmClick)="inactiveProduct()"
    (hideModal)="hideModalInactiveProduct()">
</fs-modal-confirm>

<fs-modal-confirm
    [showModal]="modalProductRemovePromotion"
    [title]="'Deseja remover este produto da promoção?'"
    [btnText]="'Remover'"
    (confirmClick)="productRemovePromotion()"
    (hideModal)="hideModalProductRemovePromotion()">
</fs-modal-confirm>

<fs-modal-confirm-deny
    [showModal]="modalProductRemovePromotionGrouped"
    [title]="'Um produto agrupado foi selecionado'"
    [text]="'Deseja remover da promoção, todos os produtos do agrupamento?'"
    (confirmClick)="confirmDenyGrouped(true)"
    (denyClick)="confirmDenyGrouped()">
</fs-modal-confirm-deny>
