<div #modalFilter class="filterBlack modalFilter round5" [ngClass]="showModal == true ? 'active' : ''">
    <div class="pdg20 bg-white modalBox shdw20 {{widthClass}}">
        <span class="btnCloseModal flex" (keydown.escape)="closeModal()" (click)="closeModal()"><span class="sizeC mrgR10">Fechar</span> X</span>
        <ng-content></ng-content>
    </div>
</div>


