<div class="main productMain">
    <div class="container {{productFilterOn ? '' : 'maxSizeD'}}">
        <div class="productBox bg-gray-light {{productFilterOn ? 'filterOn' : ''}}">
            <div class="productTopBox flex top mrgB2">
                <h2 class="sizeA fontBold">Produtos</h2>
                <div class="flex searchTop searchTopItem" [formGroup]="productSearchForm">
                    <mat-form-field class="wdFull">
                        <fa-icon matPrefix (click)="loadProductList()" [icon]="iconSolidService.faSearch" size="3x" class="iconItem iconSizeF cl-green clickPlace mrgR1"></fa-icon>
                        <mat-label>Nome do produto</mat-label>
                        <input (keydown.enter)="quickLoadProduct()" matInput [formControlName]="'description'" autocomplete="off" placeholder="Digite o nome do produto" type="text">
                    </mat-form-field>
                </div>
                <div (click)="this.productFilterOn = true;" class="searchTopItem flex end clickPlace">
                    <span class="sizeC cl-green">Pesquisa avançada</span>
                    <fa-icon [icon]="iconSolidService.faSearch" size="3x" class="iconItem iconSizeE cl-green mrgL1"></fa-icon>
                </div>
            </div>
            <div class="productSearchBox" [formGroup]="productSearchForm">
                <div class="selectBox flexDesk">
                    <div class="inputBox">
                        <div class="form-group inputAnimated">
                            <select [formControlName]="'commissioned'" class="fontBold" id="commissioned" required>
                                <option [value]="null" selected>Não filtrar</option>
                                <option [value]="1" >Sim</option>
                                <option [value]="0">Nao</option>
                            </select>
                            <label class="form-label" for="commissioned">Produtos comissionados</label>
                            <fa-icon [icon]="iconSolidService.faCaretDown" size="3x" class="iconItem iconSizeF cl-gray-dark iconSelectField"></fa-icon>
                        </div>
                    </div>
                    <div class="inputBox">
                        <div class="form-group inputAnimated">
                            <select [formControlName]="'in_promotion'" class="fontBold" id="in_promotion" required>
                                <option [value]="null" selected>Não filtrar</option>
                                <option [value]="1" >Sim</option>
                                <option [value]="0">Nao</option>
                            </select>
                            <label class="form-label" for="in_promotion">Produtos Promocionados</label>
                            <fa-icon [icon]="iconSolidService.faCaretDown" size="3x" class="iconItem iconSizeF cl-gray-dark iconSelectField"></fa-icon>
                        </div>
                    </div>
                    <div class="inputBox">
                        <div class="form-group inputAnimated">
                            <select [formControlName]="'never_sold'" class="fontBold" id="never_sold" required>
                                <option [value]="null" selected>Não filtrar</option>
                                <option [value]="1" >Sim</option>
                                <option [value]="0">Nao</option>
                            </select>
                            <label class="form-label" for="never_sold">Produtos nunca vendidos</label>
                            <fa-icon [icon]="iconSolidService.faCaretDown" size="3x" class="iconItem iconSizeF cl-gray-dark iconSelectField"></fa-icon>
                        </div>
                    </div>
                    <div class="inputBox">
                        <div class="form-group inputAnimated">
                            <select [formControlName]="'stock'" class="fontBold" id="stock" required>
                                <option [value]="null" selected>Não filtrar</option>
                                <option [value]="1" >Sim</option>
                                <option [value]="0">Nao</option>
                            </select>
                            <label class="form-label" for="stock">Estoque</label>
                            <fa-icon [icon]="iconSolidService.faCaretDown" size="3x" class="iconItem iconSizeF cl-gray-dark iconSelectField"></fa-icon>
                        </div>
                    </div>
                </div>
                <div class="fieldBox mrgB2">
                    <div class="flex pdgB1">
                        <mat-form-field class="wdFull">
                            <mat-label>Nome do produto</mat-label>
                            <input matInput [formControlName]="'description'" (keydown.enter)="loadProductList()" autocomplete="off" placeholder="Digite o nome do produto" type="text">
                        </mat-form-field>
                    </div>
                    <div class="flex pdgB1 mrgB2">
                        <fs-multiselect
                            class="wdFull"
                            [list]="productOptionGroup"
                            [placeholderText]="'Grupo'"
                            [reset]="productFilterReset"
                            (listSelectedEmit)="productOptionPromotionSelected = setArraySelected($event)">
                        </fs-multiselect>
                        <fs-multiselect
                            class="wdFull mrgL2"
                            [list]="productOptionLab"
                            [placeholderText]="'Laboratório'"
                            [reset]="productFilterReset"
                            (listSelectedEmit)="productOptionLabSelected = setArraySelected($event)">
                        </fs-multiselect>
                    </div>
                    <div class="flex mrgB2">
                        <fs-multiselect
                            class="wdFull"
                            [list]="productOptionType"
                            [placeholderText]="'Tipo'"
                            [listItemIdField]="'type_id'"
                            [listItemNameField]="'description'"
                            [reset]="productFilterReset"
                            (listSelectedEmit)="productOptionTypeSelected = setArraySelected($event,'type_id')">
                        </fs-multiselect>
                        <fs-multiselect
                            class="wdFull mrgL2"
                            [list]="productOptionPromotion"
                            [placeholderText]="'Promoção'"
                            [listItemIdField]="'id'"
                            [listItemNameField]="'name'"
                            [reset]="productFilterReset"
                            (listSelectedEmit)="productOptionPromotionSelected = setArraySelected($event,'id')">
                        </fs-multiselect>
                    </div>
                    <div class="flex">
                        <fs-autocomplete
                            class="wdFull"
                            [list]="productOptionSubstance"
                            [listItemIdFieldName]="'id'"
                            [objectNameDisplay]="['name']"
                            [placeholderText]="'Substâncias'"
                            [reset]="productFilterReset"
                            (inputValue)="getFilterListSubstance($event)"
                            (listSelectedId)="productOptionSubstanceSelected = $event">
                        </fs-autocomplete>
                        <fs-autocomplete
                            class="wdFull mrgL2"
                            [list]="productOptionPharmacological"
                            [listItemIdFieldName]="'id'"
                            [objectNameDisplay]="['name']"
                            [placeholderText]="'Farmacologico'"
                            [reset]="productFilterReset"
                            (inputValue)="getFilterListPharmacological($event)"
                            (listSelectedId)="productOptionPharmacologicalSelected = $event">
                        </fs-autocomplete>
                    </div>
                    <div class="flex">
                        <fs-autocomplete
                            class="wdFull"
                            [list]="productOptionTherapeutic"
                            [listItemIdFieldName]="'id'"
                            [objectNameDisplay]="['name']"
                            [placeholderText]="'Terapeuticos'"
                            [reset]="productFilterReset"
                            (inputValue)="getFilterListTherapeutic($event)"
                            (listSelectedId)="productOptionTherapeuticSelected = $event">
                        </fs-autocomplete>
                        <div class="flex wdFull mrgL2">
                            <mat-form-field class="wdFull">
                                <mat-label>Margem mínima</mat-label>
                                <input matInput [formControlName]="'minProfit'" autocomplete="off" placeholder="Margem" type="number">
                            </mat-form-field>
                            <mat-form-field class="wdFull mrgL2">
                                <mat-label>Margem máxima</mat-label>
                                <input matInput [formControlName]="'maxProfit'" autocomplete="off" placeholder="Margem" type="number">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="flex pdgT2">
                    <span (click)="resetFilter()" class="sizeC cl-green borderBottom clickPlace">Limpar Filtro</span>
                    <button class="btn btn-primary-bg mrgB1" (click)="loadProductList()">Pesquisar</button>
                </div>
            </div>
            <div class="productListBox">
                <fs-product-component-list
                    [amountDaysToExpire]="amountDaysToExpire"
                    [inputProductList]="productList"
                    [inputPaginationCurrentPage]="paginationCurrentPage"
                    [inputPaginationLastPage]="paginationLastPage"
                    [inputProductEdited]="productSimpleEdited"
                    (productEditedData)="emitProductEdited($event)"
                    (reloadListEmitter)="loadProductList($event)"
                ></fs-product-component-list>
                <div class="mrgB2"></div>
                <fs-product-component-list-simple
                    [amountDaysToExpire]="amountDaysToExpire"
                    [inputProductList]="productList"
                    [inputPaginationCurrentPage]="paginationCurrentPage"
                    [inputPaginationLastPage]="paginationLastPage"
                    [inputProductEdited]="productEdited"
                    (productEditedDataEmitter)="emitProductSimpleEdited($event)"
                    (reloadListEmitter)="loadProductList($event)"
                ></fs-product-component-list-simple>
                <div class="mrgB2">
                </div>
                <fs-product-component-list-simple-two
                    [amountDaysToExpire]="amountDaysToExpire"
                    [inputProductList]="productList"
                    [inputPaginationCurrentPage]="paginationCurrentPage"
                    [inputPaginationLastPage]="paginationLastPage"
                    [inputProductEdited]="productSimpleTwoEdited"
                    (productEditedDataTwoEmitter)="emitProductSimpleTwoEdited($event)"
                    (reloadListEmitter)="loadProductList($event)"
                ></fs-product-component-list-simple-two>
            </div>
        </div>
    </div>
</div>
