.productMain *{transition: all .3s ease;}
.productBox{padding: 20px;
    .productTopBox{
        .searchTop{width:100%;max-width: 400px;margin: -16px 0 -20px;}
        .searchTopItem{overflow: hidden; max-height: 70px;}
    }
    .productSearchBox{max-height: 0;padding: 0 10px;margin: 0;z-index: 1;
        .selectBox{
            .inputBox{display: inline-block;width: 24%;margin: 0 1%;
                &:first-child{margin-left: 0;}
                &:last-child{margin-right: 0;}
            }
        }
    }
    .productListBox{position: relative;overflow: hidden;background-color: var(--cl-gray-light);padding: 10px 0 0;z-index: 2;}
    &.filterOn{
        .productTopBox{
            .searchTopItem{max-height: 0;}
        }
        .productSearchBox{max-height: 450px;padding: 0;}
        .productListBox{max-height: 0;padding: 0;margin: 0;}
    }
}
