<div class="main firstAccess">
    <div class="bg-firstAccess">
        <img src="assets/img/bg-login.jpg" alt="bg">
    </div>
    <div class="container">
        <div class="topBlock">
            <a href="https://iopoint.com.br/" title="iopoint.com.br" class="logoBox clickPlace">
                <img class="img-logo" src="assets/img/logo-azul.png" alt="logo-Iopoint">
            </a>
        </div>
        <div class="middleBlock login shdw1">
            <div class="contentBlock login">
                <div class="formBox">
                    <form [formGroup]="passwordRecoverForm">
                        <div>
                            <h3 class="sizeA mrgB1 center">Redefinição de senha</h3>
                            <p class="sizeD center">Dica: Uma senha boa, bem elaborada, é aquela que é difícil de ser descoberta (forte) e fácil de ser lembrada.</p>
                        </div>
                        <div class="inputBox">
                            <div class="form-group inputAnimated">
                                <input (keyup)="checkErrorField('password')" [formControlName]="'password'" class="{{stateFields['password']['class']}}" id="password" placeholder="" required [type]="passwordType ? 'password' : 'text'">
                                <label class="form-label" for="password">Nova senha</label>
                                <fa-icon (click)="changeType()" [icon]="iconRegularService.faEye" size="3x" [ngClass]="passwordType ? 'cl-gray-dark' : 'cl-green'" class="iconItem iconSizeG clickPlace iconPasswordField" title="Mostrar senha"></fa-icon>
                            </div>
                            <div class="form-group inputAnimated">
                                <input (keyup)="checkErrorField('passwordConfirm')" [formControlName]="'passwordConfirm'" class="{{stateFields['passwordConfirm']['class']}}" id="passwordConfirm" placeholder="" required [type]="passwordType ? 'password' : 'text'">
                                <label class="form-label" for="passwordConfirm">Confirme a senha</label>
                            </div>
                        </div>
                        <div class="flex">
                            <button class="btn btn-primary" (click)="recoverPassword()">Redefinir Senha</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
