<div class="main">
    <div class="container">
        <div class="notificationBox bg-gray-light">
            <div class="flex pdgT2 pdgL2 mrgB2">
                <h2 class="sizeA fontBold">Produtos na promoção</h2>
            </div>
            <div class="promotionListBox pdg2">
                <div class="pdgB1 borderBottom">
                    <fs-search-line [placeholderText]="'Código de barra, Nome...'"  (onKeyPress)="filterProductSearch($event)"></fs-search-line>
                </div>
                <div  class="listBoxSlideMob">
                    <div class="flex listAlign listHeader">
                        <h3 class="item sizeC">Código de barras</h3>
                        <h3 class="item sizeC">Nome</h3>
                        <h3 class="item sizeC">Promo atual</h3>
                        <h3 class="item sizeC">Promo atual R$</h3>
                        <h3 class="item sizeC">Promo atual%</h3>
                        <h3 class="item sizeC">Próxima Promo</h3>
                        <h3 class="item sizeC">Próxima Promo R$</h3>
                        <h3 class="item sizeC">Próxima Promo %</h3>
                        <h3 class="item sizeC">Ação</h3>
                    </div>
                    <ul class="listBox">
                        <li *ngFor="let product of promotionListProductFilteredSearch" class="flex top listAlign">
                            <span class="item sizeC">{{product['bar_code']}}</span>
                            <span class="item sizeC">{{product['description']}} {{product['presentation']}}</span>
                            <span class="item sizeC fontBold cl-gray-dark">{{product['promotion_name']}}</span>
                            <span class="item sizeC cl-gray-dark">R$ {{product['promotion_price']}}</span>
                            <span class="item sizeC cl-gray-dark ">{{product['promotion_perc']}} %</span>
                            <span class="item sizeC fontBold cl-blue">{{product['promotion_name_old']}}</span>
                            <span class="item sizeC cl-blue">R$ {{product['promotion_price_old']}}</span>
                            <span class="item sizeC cl-blue">{{product['promotion_perc_old']}} %</span>
                            <span class="item">
                                <fa-icon (click)="showModalProductPromotion(product['code'])" [icon]="iconSolidService.faPercentage" size="3x" class="iconItem iconSizeG cl-gray-dark clickPlace mrgL1" title="Promocionar"></fa-icon>
                                <fa-icon (click)="showModalDeleteNextPromotion(product['code'])" [icon]="iconSolidService.faTrashAlt" size="3x" class="iconItem iconSizeG cl-gray-dark clickPlace mrgL1" title="Excluir próxima promoção"></fa-icon>
                            </span>
                        </li>
                        <li *ngIf="promotionListProductFilteredSearch.length == 0">
                            <p class="sizeC" *ngIf="promotionListProduct.length > 0 && promotionListProduct[0]['loading']">Carregando...</p>
                            <p class="sizeC" *ngIf="promotionListProduct.length > 0 && !promotionListProduct[0]['loading'] && promotionListProductFilteredSearch.length == 0">Nenhuma promoção correspondente.</p>
                            <p class="sizeC" *ngIf="promotionListProduct.length == 0">Nenhuma promoção encontrada.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<fs-product-modal-promotion
    [showModal]="modalProductPromotion"
    [productCode]="productSelectedCode"
    [oldPromotion]="true"
    (hideModal)="hideModalProductPromotion()"
    (reloadList)="loadProductList()"
></fs-product-modal-promotion>

<fs-modal-confirm
    [showModal]="modalDeleteNextPromotion"
    [title]="'Excluir pŕoxima promoção'"
    [text]="'Deseja excluir a proxima promoção?'"
    [btnText]="'Excluir'"
    (confirmClick)="deleteNextPromotion()"
    (hideModal)="hideModalDeleteNextPromotion()"
></fs-modal-confirm>
