.btnBox{margin: 6px 10px 0 -150px;z-index: 2;}
.listAlign{
    &.listHeader{background: var(--cl-green);
        h3{color: var(--secondary-color);}
    }
    .item{overflow: hidden; text-align: center;
        &:nth-child(1){max-width: 120px;}
        &:nth-child(2){max-width: 280px;}
        &:nth-child(3){max-width: 110px;}
        &:nth-child(4){max-width: 70px;}
        &:nth-child(5){max-width: 100px;}
        &:nth-child(6){max-width: 100px;}
        &:nth-child(7){max-width: 100px;}
        &:nth-child(8){max-width: 100px;}
        &:last-child{max-width: 50px;   text-align: right;}
    }
}
