<div class="filterBlack modalFilter round5" [ngClass]="showModal === true ? 'active' : ''">
    <div class="pdg2 bg-white modalBoxConfirm">
        <h2 *ngIf="title != ''" class="sizeA cl-green mrgB2">{{title}}</h2>
        <h3 *ngIf="text != ''" class="sizeC mrgB2">{{text}}</h3>
        <div class="flex">
            <button  (click)="deny()" class="btn">{{btnDenyText}}</button>
            <button  (click)="confirm()" class="btn btn-primary-bg mrgL2">{{btnConfirmText}}</button>
        </div>
    </div>
</div>


