.line1{
    .item{width: 100%;margin-right: 5px;
        &:nth-child(1){max-width: 12%;}
        &:nth-child(2){max-width: 30%;}
        &:nth-child(3){max-width: 10%;}
        &:nth-child(4){max-width: 10%;}
        &:last-child{max-width: 20%; margin-right: 0;}
    }
    //.mat-form-field-infix{
    //    width: 100%;
    //}
    .mat-form-field{width: 100%;}
    .mat-input-element:disabled{color: var(--primary-color);}
}
.line2{
    .item{width: 100%;max-width: 25%;margin-right: 5px;
        &:last-child{max-width: 20%; margin-right: 0;}
    }
}
.listProductPromosBox {
    width: 50%;

    .listBox {
        height: auto;
        margin: 0;
    }

    .listAlign {
        //padding: 0;
        .item {
            overflow: hidden;
            margin-right: 5px;

            &:nth-child(1) {
                max-width: 30%;
            }

            &:nth-child(2) {
                max-width: 30%;
            }

            &:nth-child(3) {
                max-width: 30%;
            }


            &:last-child {
                max-width: 10%;
            }
        }
    }
}


.invisible {
    display: block;
    visibility: hidden;
    height: 0;
    width: 0;
}

.alignHere {
    mat-form-field {
        max-width: 21%;
    }
}
