<fs-modal-default
    [widthClass]="'modalSizeAuto'"
    [showModal]="showModal"
    (hideModal)="closeModal()">
    <div class="promotionFormBox" [formGroup]="promotionForm">
        <div class="mrgB2">
            <h2 class="sizeA cl-green fontUp fontBold mrgB1">Promoção</h2>
        </div>
        <div class="minHeightBox pdgT2 mrgB2">
            <div class="flex top line2 mrgB2">
                <span class="item">
                    <mat-form-field class="wdFull">
                        <input matInput (change)="calcForm('amount')"  [formControlName]="'amount'" onClick="this.select();" placeholder="Quantidade" type="text">
                    </mat-form-field>
                </span>
                <span class="item">
                    <mat-form-field class="wdFull">
                        <input matInput (change)="validInputValue('perc');calcForm('perc')" [formControlName]="'perc'" onClick="this.select();" placeholder="Desconto" type="text">
                        <span matSuffix class="pdgL1">%</span>
                    </mat-form-field>
                </span>
                <span class="item">
                    <mat-form-field class="wdFull">
                        <span matPrefix class="pdgR1">R$</span>
                        <input matInput (change)="validInputValue('price');calcForm('price')" [formControlName]="'price'" onClick="this.select();" placeholder="Novo Preço" type="text">
                    </mat-form-field>
                </span>
                <div class="item pdgT1">
                    <button class="btn btn-primary-bg" (click)="addPromotion()">Adicionar</button>
                </div>
            </div>
            <div class="listProductPromosBox">
                <div class="flex listAlign listHeader">
                    <h3 class="item sizeC">Quantidade</h3>
                    <h3 class="item sizeC">Desconto</h3>
                    <h3 class="item sizeC">Preço</h3>
                    <h3 class="item sizeC">Ação</h3>
                </div>
                <ul class="listBox" *ngFor="let promo of promotionList; let promoIndex = index;">
                    <li *ngIf="dataloaded" class="flex top listAlign {{i % 2 == 0 ? 'listBgColor' : ''}}">
                        <span class="item sizeC">{{promo['amount']}}</span>
                        <span class="item sizeC">{{promo['perc']}} %</span>
                        <span class="item sizeC">R$ {{promo['price']}}</span>
                        <span class="item sizeC">
                            <fa-icon [icon]="iconSolidService.faTrash" (click)="removePromotion(promoIndex)" size="2x" class="iconItem iconSizeF cl-gray-dark iconSelectField"></fa-icon>
                        </span>
                    </li>
                    <li *ngIf="!dataloaded" class="flex top listAlign">
                        <span>Carregando...</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="flex pdgT2">
        <button (click)="closeModal()" class="btn btn-primary">Fechar</button>
        <button (click)="savePromotionList()" class="btn btn-primary-bg mrgL20">Salvar</button>
    </div>
</fs-modal-default>
