<div class="main productMain">
    <div class="container {{productFilterOn ? '' : 'maxSizeD'}}">
        <div class="productBox bg-gray-light {{productFilterOn ? 'filterOn' : ''}}">
            <div class="productTopBox flex top mrgB2">
                <h2 class="sizeA fontBold">Produtos</h2>
                <div class="flex searchTop searchTopItem" [formGroup]="productSearchForm">
                    <mat-form-field class="wdFull">
                        <mat-label>Nome do produto</mat-label>
                        <input (keydown.enter)="quickLoadProduct()" matInput [formControlName]="'description'" autocomplete="off" placeholder="Digite o nome do produto" type="text">
                    </mat-form-field>
                </div>
                <div (click)="this.productFilterOn = true;" class="searchTopItem flex end clickPlace">
                    <span class="sizeC cl-green">Pesquisa avançada</span>
                    <fa-icon [icon]="iconSolidService.faSearch" size="3x" class="iconItem iconSizeE cl-green mrgL1"></fa-icon>
                </div>
            </div>
            <div class="productSearchBox" [formGroup]="productSearchForm">
                <div class="selectBox flexDesk">
                    <div class="inputBox">
                        <div class="form-group inputAnimated">
                            <select [formControlName]="'commissioned'" class="fontBold" id="commissioned" required>
                                <option [value]="null" selected>Não filtrar</option>
                                <option [value]="1" >Sim</option>
                                <option [value]="0">Nao</option>
                            </select>
                            <label class="form-label" for="commissioned">Produtos comissionados</label>
                            <fa-icon [icon]="iconSolidService.faCaretDown" size="3x" class="iconItem iconSizeF cl-gray-dark iconSelectField"></fa-icon>
                        </div>
                    </div>
                    <div class="inputBox">
                        <div class="form-group inputAnimated">
                            <select [formControlName]="'in_promotion'" class="fontBold" id="in_promotion" required>
                                <option [value]="null" selected>Não filtrar</option>
                                <option [value]="1" >Sim</option>
                                <option [value]="0">Nao</option>
                            </select>
                            <label class="form-label" for="in_promotion">Produtos Promocionados</label>
                            <fa-icon [icon]="iconSolidService.faCaretDown" size="3x" class="iconItem iconSizeF cl-gray-dark iconSelectField"></fa-icon>
                        </div>
                    </div>
                    <div class="inputBox">
                        <div class="form-group inputAnimated">
                            <select [formControlName]="'never_sold'" class="fontBold" id="never_sold" required>
                                <option [value]="null" selected>Não filtrar</option>
                                <option [value]="1" >Sim</option>
                                <option [value]="0">Nao</option>
                            </select>
                            <label class="form-label" for="never_sold">Produtos nunca vendidos</label>
                            <fa-icon [icon]="iconSolidService.faCaretDown" size="3x" class="iconItem iconSizeF cl-gray-dark iconSelectField"></fa-icon>
                        </div>
                    </div>
                    <div class="inputBox">
                        <div class="form-group inputAnimated">
                            <select [formControlName]="'stock'" class="fontBold" id="stock" required>
                                <option [value]="null" selected>Não filtrar</option>
                                <option [value]="1" >Sim</option>
                                <option [value]="0">Nao</option>
                            </select>
                            <label class="form-label" for="stock">Estoque</label>
                            <fa-icon [icon]="iconSolidService.faCaretDown" size="3x" class="iconItem iconSizeF cl-gray-dark iconSelectField"></fa-icon>
                        </div>
                    </div>
                </div>
                <div class="fieldBox mrgB2">
                    <div class="flex pdgB1">
                        <mat-form-field class="wdFull">
                            <mat-label>Nome do produto</mat-label>
                            <input matInput [formControlName]="'description'" (keydown.enter)="loadProductList()" autocomplete="off" placeholder="Digite o nome do produto" type="text">
                        </mat-form-field>
                    </div>
                    <div class="flex pdgB1 mrgB2">
                        <fs-multiselect
                            class="wdFull"
                            [list]="productOptionGroup"
                            [placeholderText]="'Grupo'"
                            [reset]="productFilterReset"
                            (listSelectedEmit)="productOptionPromotionSelected = setArraySelected($event)">
                        </fs-multiselect>
                        <fs-multiselect
                            class="wdFull mrgL2"
                            [list]="productOptionLab"
                            [placeholderText]="'Laboratório'"
                            [reset]="productFilterReset"
                            (listSelectedEmit)="productOptionLabSelected = setArraySelected($event)">
                        </fs-multiselect>
                    </div>
                    <div class="flex mrgB2">
                        <fs-multiselect
                            class="wdFull"
                            [list]="productOptionType"
                            [placeholderText]="'Tipo'"
                            [listItemIdField]="'type_id'"
                            [listItemNameField]="'description'"
                            [reset]="productFilterReset"
                            (listSelectedEmit)="productOptionTypeSelected = setArraySelected($event,'type_id')">
                        </fs-multiselect>
                        <fs-multiselect
                            class="wdFull mrgL2"
                            [list]="productOptionPromotion"
                            [placeholderText]="'Promoção'"
                            [listItemIdField]="'id'"
                            [listItemNameField]="'name'"
                            [reset]="productFilterReset"
                            (listSelectedEmit)="productOptionPromotionSelected = setArraySelected($event,'id')">
                        </fs-multiselect>
                    </div>
                    <div class="flex">
                        <fs-autocomplete
                            class="wdFull"
                            [list]="productOptionSubstance"
                            [listItemIdFieldName]="'id'"
                            [objectNameDisplay]="['name']"
                            [placeholderText]="'Substâncias'"
                            [reset]="productFilterReset"
                            (inputValue)="getFilterListSubstance($event)"
                            (listSelectedId)="productOptionSubstanceSelected = $event">
                        </fs-autocomplete>
                        <fs-autocomplete
                            class="wdFull mrgL2"
                            [list]="productOptionPharmacological"
                            [listItemIdFieldName]="'id'"
                            [objectNameDisplay]="['name']"
                            [placeholderText]="'Farmacologico'"
                            [reset]="productFilterReset"
                            (inputValue)="getFilterListPharmacological($event)"
                            (listSelectedId)="productOptionPharmacologicalSelected = $event">
                        </fs-autocomplete>
                    </div>
                    <div class="flex">
                        <fs-autocomplete
                            class="wdFull"
                            [list]="productOptionTherapeutic"
                            [listItemIdFieldName]="'id'"
                            [objectNameDisplay]="['name']"
                            [placeholderText]="'Terapeuticos'"
                            [reset]="productFilterReset"
                            (inputValue)="getFilterListTherapeutic($event)"
                            (listSelectedId)="productOptionTherapeuticSelected = $event">
                        </fs-autocomplete>
                        <div class="flex wdFull mrgL2">
                            <mat-form-field class="wdFull">
                                <mat-label>Margem mínima</mat-label>
                                <input matInput [formControlName]="'minProfit'" autocomplete="off" placeholder="Margem" type="number">
                            </mat-form-field>
                            <mat-form-field class="wdFull mrgL2">
                                <mat-label>Margem máxima</mat-label>
                                <input matInput [formControlName]="'maxProfit'" autocomplete="off" placeholder="Margem" type="number">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="flex pdgT2">
                    <span (click)="resetFilter()" class="sizeC cl-green borderBottom clickPlace">Limpar Filtro</span>
                    <button class="btn btn-primary-bg mrgB1" (click)="loadProductList()">Pesquisar</button>
                </div>
            </div>
            <div class="productListBox">
                <div class="flex bottom pdgB1 borderBottom">
                    <fs-search-line [placeholderText]="'Código de barra, Nome...'"  (onKeyPress)="filterProductSearch($event)"></fs-search-line>
                    <div *ngIf="userAdmin" class="flex end">
                        <button class="btn {{productFilterSimCompact ? 'btn-primary-bg' : '' }} mrgR1" (click)="productFilterToggleSimulationSmall()">imposto resumido</button>
                        <button class="btn {{productFilterSim ? 'btn-primary-bg' : ''}}" (click)="productFilterToggleSimulation()">Simular Preços</button>
                    </div>
                    <div *ngIf="!userAdmin"></div>
                </div>
                <div [formGroup]="productLineForm" class="listBoxSlideMob {{productFilterSim ? 'filterSimulationOn' : 'filterSimulationOff'}} {{productFilterSimCompact ? 'filterSimCompactOn':'filterSimCompactOff'}}">
                    <div class="flex listAlign listHeader">
                        <div class="item">
                            <h3 (click)="orderByNumber('bar_code')" class="cellItem sizeC clickPlace {{productListCurrentOrder == 'bar_code' ? 'fontBold' : ''}}">Código de barras</h3>
                            <h3 (click)="orderByString('description')" class="cellItem sizeC clickPlace {{productListCurrentOrder == 'description' ? 'fontBold' : ''}}">Nome</h3>
                        </div>
                        <h3 class="item sizeC simOff">ABC</h3>
                        <h3 class="item sizeC simOff">Preço Custo</h3>
                        <h3 class="item sizeC simOff">Preço médio</h3>
                        <h3 class="item sizeC simOff">Preço Venda</h3>
                        <h3 class="item sizeC simOff">Margem</h3>
                        <h3 class="item sizeC simOff">Perc. Promoção</h3>
                        <h3 class="item sizeC simOff">Preço Promoção</h3>
                        <h3 class="item sizeC simOff">Promoção</h3>
                        <h3 class="item sizeC simOff">Estoque</h3>
                        <h3 class="item sizeC simOff">Ação</h3>

                        <h3 class="item sizeC simOn clickPlace commissionItem">Comissão</h3>
                        <!--                        <h3 class="item sizeC simOn clickPlace">custo fixo</h3>-->
                        <h3 class="item sizeC simOn clickPlace">Custo Médio </h3>
                        <h3 class="item sizeC simOn clickPlace">C.M.Contabil</h3>
                        <h3 class="item sizeC simOn clickPlace">% C Medio</h3>
                        <h3 class="item sizeC simOn clickPlace">Valor Venda</h3>
                        <h3 class="item sizeC simOn selectItem">Valor Promo</h3>
                        <h3 class="item sizeC simOn clickPlace">Icms</h3>
                        <!--                        <h3 class="item sizeC simOn clickPlace">Custo Médio</h3>-->

                        <h3 (click)="orderByNumber('tributeCompact')" class="item sizeC simOn clickPlace simCompactOn {{productListCurrentOrder == 'tributeCompact' ? 'fontBold' : ''}}">Imposto Compacto</h3>
                        <h3 (click)="orderByNumber('icmsValue')" class="item sizeC simOn clickPlace simCompactOff {{productListCurrentOrder == 'icmsValue' ? 'fontBold' : ''}}">Vlr ICM</h3>
                        <h3 (click)="orderByNumber('ContribSocial')" class="item sizeC simOn clickPlace simCompactOff {{productListCurrentOrder == 'ContribSocial' ? 'fontBold' : ''}}">Contrib Social</h3>
                        <h3 (click)="orderByNumber('irrfCalc')" class="item sizeC simOn clickPlace simCompactOff {{productListCurrentOrder == 'irrfCalc' ? 'fontBold' : ''}}">IR</h3>
                        <h3 (click)="orderByNumber('percPis')" class="item sizeC simOn clickPlace simCompactOff {{productListCurrentOrder == 'percPis' ? 'fontBold' : ''}}">Pis</h3>
                        <h3 (click)="orderByNumber('percCofins')" class="item sizeC simOn clickPlace simCompactOff {{productListCurrentOrder == 'percCofins' ? 'fontBold' : ''}}">Cofins</h3>
                        <h3 (click)="orderByNumber('custo')" class="item sizeC simOn clickPlace {{productListCurrentOrder == 'custo' ? 'fontBold' : ''}}">Custo</h3>
                        <h3 (click)="orderByNumber('margemLiquida')" class="item sizeC simOn clickPlace {{productListCurrentOrder == 'margemLiquida' ? 'fontBold' : ''}}">Margem Liq</h3>
                        <h3 (click)="orderByNumber('receitaLiquida')" class="item sizeC simOn clickPlace {{productListCurrentOrder == 'receitaLiquida' ? 'fontBold' : ''}}">Receita Liq</h3>
                        <h3 (click)="orderByNumber('lucroLiquidoValor')" class="item sizeC simOn clickPlace {{productListCurrentOrder == 'lucroLiquidoValor' ? 'fontBold' : ''}}">Val L. Liq</h3>
                        <h3 (click)="orderByNumber('lucroLiquidoPerc')" class="item sizeC simOn clickPlace {{productListCurrentOrder == 'lucroLiquidoPerc' ? 'fontBold' : ''}}">Lucro Liq</h3>
                        <h3 class="item sizeC simOn">Ação</h3>
                    </div>
                    <ul class="listBox" [formArrayName]="'lines'">
                        <li *ngFor="let product of productListFilteredSearch;let productIndex = index" [formGroupName]="productIndex"  class="flex top listAlign {{productIndex % 2 == 0 ? 'listBgColor' : ''}}">
                            <span class="item">
                                <table class="flex wdFull">
                                    <tr class="flex wdFull">
                                        <td class="flex cellItem start sizeC">
                                            <span *ngIf="product['tax']['taxType'] != null" class="iconMoney mrgR1">
                                                <fa-icon [icon]="iconSolidService.faMoneyBillWaveAlt" size="3x" class="iconItem iconSizeG {{productMoneyIconArray[product['tax']['taxType']]['color']}}" title="{{productMoneyIconArray[product['tax']['taxType']]['title']}}"></fa-icon>
                                            </span>
                                            <span class="flex center iconFlag">
                                                <a href="https://www.google.com/search?q={{product['bar_code']}}&tbm=shop" target="_blank" title="">
                                                    <img *ngIf="product['code_origin'] == 0 || (product['code_origin'] > 2 && product['code_origin'] < 6) || product['code_origin'] == 8" src="assets/img/icon-brazil.png" class="iconBrazil" alt="">
                                                    <img *ngIf="product['code_origin'] == 1 || product['code_origin'] == 2 || product['code_origin'] == 6 || product['code_origin'] == 7" src="assets/img/icon-usa.png" class="iconUSA" alt="">
                                                </a>
                                            </span>
                                            {{product['bar_code']}}
                                        </td>
                                        <td class="flex cellItem start sizeC">
                                            <span class="iconStar">
                                                <fa-icon *ngIf="product['product_code_main'] != null && product['code'] == product['product_code_main']" (click)="requestGrouped(product['code'])" [icon]="iconSolidService.faStar" size="3x" class="iconItem iconSizeH cl-gray-dark clickPlace" title="Agrupador"></fa-icon>
                                                <fa-icon *ngIf="product['product_code_main'] != null && product['code'] != product['product_code_main']" (click)="requestGrouped(product['code'])" [icon]="iconRegularService.faStar" size="3x" class="iconItem iconSizeH cl-gray-dark clickPlace" title="Agrupado"></fa-icon>
                                            </span>
                                            {{product['description']}} {{product['presentation']}}
                                        </td>
                                    </tr>
                                </table>
                            </span>
                            <span class="item sizeC simOff {{product['product_extras'].length > 1 ? 'block' : ''}}"><span *ngFor="let extra of product['product_extras']; let extraIndex = index" class="flex">{{extraIndex+1}}: {{extra['abc_curve']}}</span></span>
                            <span class="item sizeC simOff {{product['product_extras'].length > 1 ? 'block' : ''}}"><span *ngFor="let extra of product['product_extras']; let extraIndex = index" class="flex">{{extraIndex+1}}: {{extra['cost_price']}}</span></span>
                            <span class="item sizeC simOff {{product['product_extras'].length > 1 ? 'block' : ''}}"><span *ngFor="let extra of product['product_extras']; let extraIndex = index" class="flex">{{extraIndex+1}}: {{extra['medium_cost']}}</span></span>
                            <span class="item sizeC simOff {{product['product_extras'].length > 1 ? 'block' : ''}}"><span *ngFor="let extra of product['product_extras']; let extraIndex = index" class="flex">{{extraIndex+1}}: {{extra['sell_value']}}</span></span>
                            <span class="item sizeC simOff {{product['product_extras'].length > 1 ? 'block' : ''}}"><span *ngFor="let extra of product['product_extras']; let extraIndex = index" class="flex">{{extraIndex+1}}: {{extra['profit']}}%</span></span>
                            <span class="item sizeC simOff {{product['promotion_rule'].length > 1 ? 'block' : ''}}"><span *ngFor="let promotion of product['promotion_rule']" class="flex">{{promotion['amount']}}: {{promotion['perc']}}%</span></span>
                            <span class="item sizeC simOff {{product['promotion_rule'].length > 1 ? 'block' : ''}}"><span *ngFor="let promotion of product['promotion_rule']" class="flex">{{promotion['amount']}}: R$ {{promotion['price']}}</span></span>
                            <span class="item sizeC simOff">{{product['promotion_name']}}</span>
                            <span class="item sizeC simOff {{product['product_extras'].length > 1 ? 'block' : ''}}"><span *ngFor="let extra of product['product_extras']; let extraIndex = index" class="flex">{{extraIndex+1}}: {{extra['stock']}}</span></span>
                            <span class="item simOff">
                                <fa-icon *ngIf="countStorage(product['product_extras']) == 0" (click)="showModalInactiveProduct(product['code'])" [icon]="iconSolidService.faTrashAlt" size="3x" class="iconItem iconSizeG cl-gray-dark clickPlace" title="Inativar produto"></fa-icon>
                                <fa-icon (click)="hideProduct(product['code'])" [icon]="iconRegularService.faEyeSlash" size="3x" class="iconItem iconSizeG cl-gray-dark clickPlace" title="Esconder Produto"></fa-icon>
                                <fa-icon (click)="showModalProduct(product['code'])" [icon]="iconRegularService.faEdit" size="3x" class="iconItem iconSizeG cl-gray-dark clickPlace" title="Editar produto"></fa-icon>
                                <fa-icon (click)="showModalProductPromotion(product['code'])" [icon]="iconSolidService.faPercentage" size="3x" class="iconItem iconSizeG clickPlace {{product['promotion_name'] != null ? 'cl-red' : 'cl-gray-dark'}}" title="Promocionar"></fa-icon>
                                <fa-icon *ngIf="product['promotion_name'] != null" (click)="showModalProductRemovePromotion(product['code'],product['promotion_id'])" [icon]="iconSolidService.faMinuSquare" size="3x" class="iconItem iconSizeG clickPlace cl-red" title="Remover produto da promoção: {{product['promotion_name']}}"></fa-icon>
                            </span>
                            <span class="item sizeC simOn commissionItem"><input onClick="this.select();" (change)="validLineValue(product['code'],'commission');calcLine(product['code'])" [formControlName]="'commission'" autocomplete="off" placeholder="" type="text"></span>
                            <!--                            <span class="item sizeC simOn"><input onClick="this.select();" (change)="validLineValue(product['code'],'fix_cost');calcLine(product['code'])" [formControlName]="'fix_cost'" autocomplete="off" placeholder="" type="text"></span>-->
<!--                            <span class="item sizeC simOn"><input onClick="this.select();" (change)="validLineValue(product['code'],'mediumCost');calcLine(product['code'])" [formControlName]="'mediumCost'" autocomplete="off" placeholder="" type="text"></span>-->
<!--                            <span class="item sizeC simOn"><input onClick="this.select();" (change)="validLineValue(product['code'],'accounting_cost');calcLine(product['code'])" [formControlName]="'accounting_cost'" autocomplete="off" placeholder="" type="text"></span>-->
<!--                            <span class="item sizeC simOff {{product['product_extras'].length > 1 ? 'block' : ''}}"><span *ngFor="let extra of product['product_extras']; let extraIndex = index" class="flex">{{extraIndex+1}}: {{extra['accounting_cost']}}</span></span>-->
                            <span class="item sizeC simOn">{{product['tax']['mediumCost']}} </span>
                            <span class="item sizeC simOn"><input onClick="this.select();" (change)="validLineValue(product['code'],'accounting_cost');calcLine(product['code'])" [formControlName]="'accounting_cost'" autocomplete="off" placeholder="" type="text"></span>
                            <span class="item sizeC simOn {{product['accountingCostClass']}}">{{product['diff_between_costs']}}% </span>
                            <span class="item sizeC simOn"><input onClick="this.select();" (change)="validLineValue(product['code'],'sell_price');calcLine(product['code'],true)" [formControlName]="'sell_price'" autocomplete="off" placeholder="" type="text"></span>
                            <span class="item sizeC simOn selectItem">
                                <span *ngIf="product['promotionSelectAvailable'] == true" class="form-group inputAnimated">
                                    <select (change)="calcLine(product['code'])" [formControlName]="'sell_price_select'" class="fontBold" id="sell_price_select" required>
                                        <option *ngFor="let promotion of product['promotion_rule']" [value]="promotion['price']" [selected]="lines.at(productIndex).get('sell_price_select').value == promotion['price']">{{promotion['amount']}}: {{promotion['price']}}</option>
                                    </select>
                                    <fa-icon [icon]="iconSolidService.faCaretDown" size="3x" class="iconItem iconSizeG cl-gray-dark iconSelectField"></fa-icon>
                                </span>
                                <span *ngIf="product['promotionSelectAvailable'] == false">{{lines.at(productIndex).get('sell_price').value}}</span>
                            </span>
                            <span class="item sizeC simOn"><input onClick="this.select();" (change)="validLineValue(product['code'],'icms');calcLine(product['code'])" [formControlName]="'icms'" autocomplete="off" placeholder="" type="text"></span>
                            <!--                            <span class="item sizeC simOn"><input onClick="this.select();" (change)="validLineValue(product['code'],'mediumCost');calcLine(product['code'])" [formControlName]="'mediumCost'" autocomplete="off" placeholder="" type="text"></span>-->
                            <span class="item sizeC simOn simCompactOn">{{product['tributeCompact']}} </span>
                            <span class="item sizeC simOn simCompactOff">{{product['icmsValue']}} </span>
                            <span class="item sizeC simOn simCompactOff">{{product['ContribSocial']}} </span>
                            <span class="item sizeC simOn simCompactOff">{{product['irrfCalc']}} </span>
                            <span class="item sizeC simOn simCompactOff">{{product['percPis']}} </span>
                            <span class="item sizeC simOn simCompactOff">{{product['percCofins']}} </span>
                            <span class="item sizeC simOn">{{product['custo']}} </span>
                            <span class="item sizeC simOn">{{product['margemLiquida'] != '-' ? product['margemLiquida'] + '%' : '-'}}</span>
                            <span class="item sizeC simOn">{{product['receitaLiquida']}} </span>
                            <span class="item sizeC simOn">{{product['lucroLiquidoValor']}} </span>
                            <span class="item sizeC simOn fontBold resultItem {{product['lucroLiquidoPercClass']}}">{{product['lucroLiquidoPerc'] != '-' ? product['lucroLiquidoPerc'] + '%' : '-'}}</span>
                            <span class="item simOn">
                                <fa-icon (click)="showModalProductPromotion(product['code'], lines.at(productIndex).get('sell_price').value)" [icon]="iconSolidService.faPercentage" size="3x" class="iconItem iconSizeG cl-gray-dark clickPlace mrgL1" title="Promocionar"></fa-icon>
                            </span>
                        </li>
                        <li *ngIf="productListFilteredSearch.length == 0">
                            <p class="sizeC" *ngIf="productList.length > 0 && productList[0]['loading']">Carregando...</p>
                            <p class="sizeC" *ngIf="productList.length > 0 && !productList[0]['loading'] && productListFilteredSearch.length == 0">Nenhum produto correspondente.</p>
                            <p class="sizeC" *ngIf="productList.length == 0">Nenhum produto encontrado.</p>
                        </li>
                    </ul>
                    <div class="flex end pdgT1">
                        <fs-pagination
                            *ngIf="paginationLastPage != 1"
                            [currentPage]="paginationCurrentPage"
                            [lastPageNum]="paginationLastPage"
                            (firstPage)="loadProductList(1)"
                            (previousPage)="loadProductList(paginationCurrentPage-1)"
                            (nextPage)="loadProductList(paginationCurrentPage+1)"
                            (lastPage)="loadProductList(paginationLastPage)"
                        ></fs-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<fs-product-modal-form
    [showModal]="modalProduct"
    [productCode]="productSelectedCode"
    (productUpdated)="loadProductList()"
    (hideModal)="hideModalProduct()"
></fs-product-modal-form>

<fs-product-modal-promotion
    [showModal]="modalProductPromotion"
    [productCode]="productSelectedCode"
    [productSellValue]="productSelectedSellValue"
    (hideModal)="hideModalProductPromotion()"
    (reloadList)="loadProductList()"
></fs-product-modal-promotion>

<fs-modal-confirm
    [showModal]="modalInactiveProduct"
    [title]="'Deseja Inativar este produto?'"
    [btnText]="'Inativar'"
    (confirmClick)="inactiveProduct()"
    (hideModal)="hideModalInactiveProduct()">
</fs-modal-confirm>

<fs-modal-confirm
    [showModal]="modalProductRemovePromotion"
    [title]="'Deseja remover este produto da promoção?'"
    [btnText]="'Remover'"
    (confirmClick)="productRemovePromotion()"
    (hideModal)="hideModalProductRemovePromotion()">
</fs-modal-confirm>

<fs-modal-confirm-deny
    [showModal]="modalProductRemovePromotionGrouped"
    [title]="'Um produto agrupado foi selecionado'"
    [text]="'Deseja remover da promoção, todos os produtos do agrupamento?'"
    (confirmClick)="confirmDenyGrouped(true)"
    (denyClick)="confirmDenyGrouped()">
</fs-modal-confirm-deny>
