<div class="searchLine {{borderBottom ? 'borderBottom' : ''}} {{paddingLeft}}  {{paddingRight}}" >
    <div class="wdFull relativePlace" [formGroup]="searchLineForm">
        <fa-icon (click)="setfocus()" [icon]="iconSolidService.faSearch" size="3x" class="iconItem iconSizeF cl-green iconSearch clickPlace"></fa-icon>
        <input #searchInput onClick="this.select();" [formControlName]="'searchLineInput'" autocomplete="off" class="sizeB pdgL1 wdFull" placeholder="{{placeholderText}}" name="searchLineInput"  type="text">
        <fa-icon *ngIf="searchLineForm.controls['searchLineInput'].value != ''" (click)="reset()" [icon]="iconSolidService.faTimes" size="3x" class="iconItem iconSizeG cl-gray-dark iconClose clickPlace"></fa-icon>
    </div>
</div>
