<div #fsAutoCompleteBox class="fsAutoCompleteBx" [formGroup]="autoCompleteForm">
    <div class="autoCompleteInputBox">
        <mat-form-field class="wdFull">
            <mat-label>{{placeholderText}}</mat-label>
            <input (keydown)="showAutoCompleteBox()" (focus)="checkResetOnFocus();showAutoCompleteBox()" (keyup.escape)="hideAutoCompleteBox()" (keyup)="getAutoCompleteList()" matInput [formControlName]="'text'" placeholder="{{placeholderText}}" autocomplete="off" type="text">
        </mat-form-field>
    </div>
    <div class="autoCompleteListBox fadeEffect {{showAutoComplete ? 'active' : ''}}">
        <div class="autoCompleteListTop flex">
            <div class="checkAll">
                <span class="item sizeC">
                    <label class="radioBox hd2 sizeC">Selecionar todos
                        <input (change)="verifyAll()" [formControlName]="'allSelected'" type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </span>
            </div>
            <div>
                <button (click)="emitList()" class="btn btn-primary-bg">Confirmar</button>
            </div>
        </div>
        <ul class="listBox autoCompleteList">
            <li #acItem *ngFor="let item of list" class="flex top listAlign">
                <span class="item sizeC">
                    <label class="radioBox hd2 sizeC">{{item['itemText']}}
                        <input (change)="selectId(item[listItemIdFieldName])" [checked]="listSelected.indexOf(item[listItemIdFieldName]) != -1" type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </span>
            </li>
        </ul>
    </div>
</div>
