.fsAutoCompleteBx{position: relative;}

.fadeEffect{padding: 20px;left: 0;top: 79px;transition: all 0.2s ease;
    &.active{top: 41px;}
}

.autoCompleteListBox{
    .autoCompleteList{max-height: 320px;height: auto;overflow: auto;
        .listAlign{padding: 0 5px;
            &:last-child{margin-bottom: 0;}
            .item{padding: 5px 0;}
        }
    }
}
