<fs-modal-default
    [showModal]="showModal"
    (hideModal)="closeModal()">
    <div class="productFormBox modalSizeB" [formGroup]="productForm">
        <div class="mrgB2">
            <h2 class="sizeA cl-green fontUp fontBold mrgB1">Cadastrar nova data de vencimento</h2>
        </div>
        <div class="minHeightBox pdgT2 mrgB2">
            <div class="flex">
                <mat-form-field class="wdFull">
                    <mat-label>Código de barras do produto</mat-label>
                    <input matInput [formControlName]="'bar_code'" autocomplete="off" placeholder="Digite o código de barras do produto" type="text" required>
                </mat-form-field>
                <div class="pdg2"></div>
                <mat-form-field class="wdFull">
                    <mat-label>Lote do produto</mat-label>
                    <input matInput [formControlName]="'batch'" autocomplete="off" placeholder="Digite o lote do produto" type="text" required>
                </mat-form-field>
            </div>
            <div class="flex">
                <mat-form-field class="wdFull">
                    <mat-label>Quantidade de produtos</mat-label>
                    <input matInput [formControlName]="'amount'" autocomplete="off" placeholder="Selecione a quantidade de produtos" type="text" required>
                </mat-form-field>
                <div class="pdg2"></div>
                <div class="form-group inputAnimated">
                    <input [formControlName]="'newExpirationDate'" [dropSpecialCharacters]="false"  placeholder=""  type="text" mask="00/00/0000" autocomplete="off" required>
                    <label class="form-label" >Data de validade</label>
                </div>
            </div>
            <div class="productSearchBox pdgT1" [formGroup]="selectedCompany">
                <div class="form-group inputAnimated">
                    <select [formControlName]="'branchId'" class="fontBold" id="commissioned" required>
                        <option [value]="1" selected>FARMÁCIAS SÃO MIGUEL MATRIZ</option>
                        <option [value]="3">A CASA DO PERFUME LTDA.</option>
                        <option [value]="4">VIVA BEM COMERCIO FARMACEUTICO.</option>
                    </select>
                    <label class="form-label" for="commissioned">Selecione uma filial</label>
                    <fa-icon [icon]="iconSolidService.faCaretDown" size="3x"
                             class="iconItem iconSizeF cl-gray-dark iconSelectField"></fa-icon>
                </div>
            </div>
<!--            <div class="flex center pdgT2">-->
<!--                <fs-datepicker-->
<!--                    [labelText]="'selecione uma nova data'"-->
<!--                    [startDate]="dateSelected"-->
<!--                    (dateSelectedEN)="setDateSelected($event);">-->
<!--                </fs-datepicker>-->
<!--            </div>-->
        </div>
        <div class="borderTop">
            <div class="flex mrgT1 sub_div">
                <button (click)="closeModal()" class="btn btn-primary">Cancelar</button>
                <button (click)="setNewExpirationDate()" class="btn btn-primary-bg mrgL20">Salvar</button>
            </div>
        </div>
    </div>
</fs-modal-default>
