<fs-modal-default
    [showModal]="showModal"
    (hideModal)="closeModal()">
    <div class="minHeightBox modalSizeB" [formGroup]="userForm">
        <div class="mrgB2">
            <h2 class="sizeA cl-green fontUp fontBold mrgB1">{{updateOn ? 'Editar' : 'Novo'}} Usuário</h2>
        </div>
        <div class="userFormBox mrgB2">
            <div class="minHeightBox pdgT2 mrgT2">
                <div class="flex mrgB2">
                    <mat-form-field class="wdFull">
                        <mat-label>Nome</mat-label>
                        <input matInput [formControlName]="'name'" placeholder="Nome" type="text">
                        <mat-error *ngIf="userForm.controls['name'].hasError('required')">Este campo é necessário
                        </mat-error>
                    </mat-form-field>
                    <div class="pdg2"></div>
                    <mat-form-field class="wdFull">
                        <mat-label>E-mail</mat-label>
                        <input matInput [formControlName]="'email'" placeholder="E-mail" type="email">
                        <mat-error *ngIf="userForm.controls['email'].hasError('required')">Este campo é necessário
                        </mat-error>
                        <mat-error *ngIf="userForm.controls['email'].hasError('email')">Preencha com um e-mail válido
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="flex mrgB2">
                    <mat-form-field class="wdFull">
                        <mat-label>Usuário</mat-label>
                        <input matInput [formControlName]="'user'" placeholder="Usuário" type="text">
                        <mat-error *ngIf="userForm.controls['user'].hasError('required')">Este campo é necessário
                        </mat-error>
                    </mat-form-field>
                    <div class="pdg2"></div>
                    <mat-form-field class="wdFull">
                        <mat-label>Senha</mat-label>
                        <input matInput [formControlName]="'password'" placeholder="Senha" type="password">
                        <mat-error *ngIf="userForm.controls['password'].hasError('required')">Este campo é necessário
                        </mat-error>
                        <mat-error *ngIf="userForm.controls['password'].hasError('minlength')">Este campo deve ter no mínimo 6 caracteres
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="flex mrgB2">
                    <mat-checkbox class="example-margin" [formControlName]="'active'">Ativo</mat-checkbox>
                    <div class="pdg2"></div>
                    <mat-checkbox class="example-margin" [formControlName]="'admin'">Administrador</mat-checkbox>
                    <div class="pdg2"></div>
                    <div class="inputBox pdgL2 pdgR2">
                        <div class="form-group inputAnimated">
                            <select [formControlName]="'branch_ids'" class="fontBold pdgL2 pdgR2" id="branch_ids" required>
                                <option *ngFor="let branch of branchList" [value]="branch['id']" class="pdgL2 pdgR2">
                                    {{branch['city']}}
                                </option>
                            </select>
                            <label class="form-label" for="branch_ids">Empresa</label>
                            <fa-icon [icon]="iconSolidService.faCaretDown" size="3x" class="iconItem iconSizeF cl-gray-dark iconSelectField"></fa-icon>
                        </div>
                        <mat-error class="sizeD" *ngIf="userForm.controls['branch_ids'].hasError('required') && formSubmitAttempt">Este campo é necessário
                        </mat-error>
                    </div>
                </div>

            </div>
        </div>
        <div class="flex">
            <button (click)="closeModal()" class="btn btn-primary">Cancelar</button>
            <button (click)="sendUser()"
                    class="btn btn-primary-bg mrgL20">{{updateOn ? 'Salvar' : 'Cadastrar'}}</button>
        </div>
    </div>
</fs-modal-default>
