<div class="main home">
    <div class="container {{userAdmin ? 'maxSizeD' : ''}}">
        <div class="bg-gray-light ">
            <div class="top pdg2 mrgB2">
                <h2 class="sizeA mrgB1">Olá, {{userName}}</h2>
                <h2 class="sizeA fontUp cl-green">{{salutation}}</h2>
            </div>
            <div *ngIf="userAdmin" class="chartSection flex pdg2">
                <div class="chartBox bg-white round2 pdg2">
                    <div class="chartTopSection flex" [formGroup]="chartYearForm">
                        <h2 class="sizeB fontBold">Últimos 12 meses</h2>
                        <div class="chartSelectBox flex">
                            <div class="form-group inputAnimated">
                                <select (change)="getYearData()" [formControlName]="'branch'" class="fontCap" id="branchYear" required>
                                    <option [value]="null" selected>Filial</option>
                                    <option *ngFor="let branch of selectOptionListBranch" [value]="branch['id']">{{branch['name'] | titlecase}}</option>
                                </select>
                                <label class="form-label" for="branchYear">Filial</label>
                                <fa-icon [icon]="iconSolidService.faCaretDown" size="3x" class="iconItem iconSizeF cl-gray-dark iconSelectField"></fa-icon>
                            </div>
                            <div class="form-group inputAnimated">
                                <select (change)="getYearData()" [formControlName]="'seller'" class="fontCap" id="sellerMonth" required>
                                    <option [value]="null" selected>Vendedor</option>
                                    <option *ngFor="let user of selectOptionListUser" [value]="user['id']">{{user['name'] | titlecase}}</option>
                                </select>
                                <label class="form-label" for="sellerMonth">Vendedor</label>
                                <fa-icon [icon]="iconSolidService.faCaretDown" size="3x" class="iconItem iconSizeF cl-gray-dark iconSelectField"></fa-icon>
                            </div>
                        </div>
                    </div>
                    <div class="chart">
                        <canvas
                            baseChart
                            [datasets]="barChartDataYear"
                            [colors]="barChartColors"
                            [labels]="barChartLabelsYear"
                            [options]="barChartOptions"
                            [legend]="barChartLegend"
                            [chartType]="barChartType">
                        </canvas>
                    </div>
                </div>
                <div class="chartBox bg-white round2 pdg2">
                    <div class="chartTopSection flex" [formGroup]="chartMonthForm">
                        <fs-datepicker
                            class="datepicker"
                            [datepickerMonth]="true"
                            [labelText]="'Mês referência'"
                            [startDate]="dateStart"
                            (dateSelectedEN)="setMonthDate($event)"
                        ></fs-datepicker>
                        <div class="chartSelectBox flex">
                            <div class="form-group inputAnimated">
                                <select (change)="getMonthData()" [formControlName]="'branch'" class="fontCap" id="branchMonth" required>
                                    <option [value]="null" selected>Filial</option>
                                    <option *ngFor="let branch of selectOptionListBranch" [value]="branch['id']">{{branch['name'] | titlecase}}</option>
                                </select>
                                <label class="form-label" for="branchMonth">Filial</label>
                                <fa-icon [icon]="iconSolidService.faCaretDown" size="3x" class="iconItem iconSizeF cl-gray-dark iconSelectField"></fa-icon>
                            </div>
                            <div class="form-group inputAnimated">
                                <select (change)="getMonthData()" [formControlName]="'seller'" class="fontCap" id="sellerMonth" required>
                                    <option [value]="null" selected>Vendedor</option>
                                    <option *ngFor="let user of selectOptionListUser" [value]="user['id']">{{user['name'] | titlecase}}</option>
                                </select>
                                <label class="form-label" for="sellerMonth">Vendedor</label>
                                <fa-icon [icon]="iconSolidService.faCaretDown" size="3x" class="iconItem iconSizeF cl-gray-dark iconSelectField"></fa-icon>
                            </div>
                        </div>
                    </div>
                    <div class="chart">
                        <canvas
                            baseChart
                            [datasets]="barChartDataMonth"
                            [colors]="barChartColors"
                            [labels]="barChartLabelsMonth"
                            [options]="barChartOptions"
                            [legend]="barChartLegend"
                            [chartType]="barChartType">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

