.chartSection{justify-content: space-around;
    .chartTopSection{
        .chartSelectBox{width: 100%;max-width: 400px;
            .form-group{width: 100%;max-width: 180px;}
        }
        .datepicker{margin: -20px 0 0;max-width: 150px;}
    }
    .chartBox{width: 100%; max-width: 650px;}
}
