<fs-modal-default
    [widthClass]="'modalSizeAuto'"
    [showModal]="showModal"
    (hideModal)="closeModal()">
    <div class="promotionFormBox" [formGroup]="productForm">
        <div class="mrgB2">
            <h2 class="sizeA cl-green fontUp fontBold mrgB1">Promocionar</h2>
        </div>
        <div class="minHeightBox pdgT2 mrgB2">
            <div class="flex line1 mrgB2">
                <div class="item">
                     <div class="form-group inputAnimated wdFull">
                        <select [formControlName]="'promotion'" class="fontBold pdgL2 pdgR2" id="branch_ids" required>
                            <option *ngFor="let promotion of promotionList" [value]="promotion['id']" id="promotion_id" class="pdgL2 pdgR2" >{{promotion['status']}} - {{promotion['name']}}</option>
                        </select>
                        <label class="form-label" for="promotion_id">Promoção</label>
                        <fa-icon [icon]="iconSolidService.faCaretDown" size="3x" class="iconItem iconSizeF cl-gray-dark iconSelectField"></fa-icon>
                    </div>
                </div>
                <div class="item">
                    <mat-form-field class="wdFull">
                        <input matInput [formControlName]="'description'" onClick="this.select();" placeholder="Nome" type="text">
                    </mat-form-field>
                </div>
                <div class="item">
                    <mat-form-field class="wdFull">
                        <span matPrefix class="pdgR1">R$</span>
                        <input matInput [formControlName]="'sell_value'" onClick="this.select();" placeholder="Preço" type="text">
                    </mat-form-field>
                </div>
                <div class="item">
                    <label class="radioBox sizeC">Atualizar preço venda
                        <input [formControlName]="'alter_sell_value'" type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="item">
                    <mat-form-field class="wdFull">
                        <input matInput (change)="validInputValue('discount');calcValue('discount')" [formControlName]="'discount'" onClick="this.select();" placeholder="Desconto" type="text">
                        <span matSuffix class="pdgL1">%</span>
                    </mat-form-field>
                </div>
                <div class="item">
                    <mat-form-field class="wdFull">
                        <span matPrefix class="pdgR1">R$</span>
                        <input matInput (change)="validInputValue('new_price');calcValue('new_price')" [formControlName]="'new_price'" onClick="this.select();" placeholder="Novo Preço" type="text">
                    </mat-form-field>
                </div>
            </div>
            <div class="flex top line2 mrgB2">
                <span class="item">
                    <mat-form-field class="wdFull">
                        <input matInput [formControlName]="'promo_quantity'" onClick="this.select();" placeholder="Quantidade" type="text">
                    </mat-form-field>
                </span>
                <span class="item">
                    <mat-form-field class="wdFull">
                        <input matInput (change)="validInputValue('promo_discount');calcValue('promo_discount')" [formControlName]="'promo_discount'" onClick="this.select();" placeholder="Desconto" type="text">
                        <span matSuffix class="pdgL1">%</span>
                    </mat-form-field>
                </span>
                <span class="item">
                    <mat-form-field class="wdFull">
                        <span matPrefix class="pdgR1">R$</span>
                        <input matInput (change)="validInputValue('promo_price');calcValue('promo_price')" [formControlName]="'promo_price'" onClick="this.select();" placeholder="Novo Preço" type="text">
                    </mat-form-field>
                </span>
                <div class="item pdgT1">
                    <button class="btn btn-primary-bg" (click)="addPromo()">Adicionar</button>
                </div>
            </div>
            <div class="productPromotionListBox">
                <div class="flex listAlign listHeader">
                    <h3 class="item sizeC">Quantidade</h3>
                    <h3 class="item sizeC">Desconto</h3>
                    <h3 class="item sizeC">Preço</h3>
                    <h3 class="item sizeC">Ação</h3>
                </div>
                <ul class="listBox">
                    <li *ngFor="let promo of promos; let i = index;" class="flex top listAlign shortLine {{i % 2 == 0 ? 'listBgColor' : ''}}">
                        <span class="sizeC item">{{promo['promo_quantity']}}</span>
                        <span class="sizeC item">{{promo['promo_discount']}}</span>
                        <span class="sizeC item">{{promo['promo_price']}}</span>
                        <span class="sizeC item">
                            <fa-icon [icon]="iconSolidService.faTrash" (click)="removePromo(i)" size="3x" class="iconItem iconSizeH cl-gray-dark clickPlace"></fa-icon>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="spacer"></div>
            <div class="promotionHistoricListBox">
                <div class="flex listAlign listHeader">
                    <h3 class="item sizeC">Data início</h3>
                    <h3 class="item sizeC">Data fim</h3>
                    <h3 class="item sizeC">Quantidade</h3>
                    <h3 class="item sizeC">Desconto</h3>
                    <h3 class="item sizeC">Preço</h3>
                </div>
                <ul class="listBox">
                    <li *ngFor="let promotion of promotionHistoricList; let i = index;" class="flex top listAlign shortLine {{i % 2 == 0 ? 'listBgColor' : ''}}">
                        <span class="sizeC item">{{getDateBR(promotion['begin_date'])}}</span>
                        <span class="sizeC item">{{getDateBR(promotion['end_date'])}}</span>
                        <span class="sizeC item">{{promotion['promotion_rule'][0]['amount']}}</span>
                        <span class="sizeC item">{{promotion['promotion_rule'][0]['perc']}}%</span>
                        <span class="sizeC item">{{promotion['promotion_rule'][0]['price'].split('.').join(',')}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="flex pdgT2">
        <button (click)="closeModal()" class="btn btn-primary">Fechar</button>
        <button (click)="sendProduct()" class="btn btn-primary-bg mrgL20">Salvar</button>
    </div>
</fs-modal-default>

<fs-modal-confirm-deny
    [showModal]="modalGrouped"
    [title]="'Um produto agrupado foi selecionado'"
    [text]="'Deseja adicionar todos os produtos do agrupamento?'"
    (confirmClick)="confirmDenyGrouped(true)"
    (denyClick)="confirmDenyGrouped()">
</fs-modal-confirm-deny>
