.line1{
    .item{width: 100%;margin-right: 5px;
        &:nth-child(1){max-width: 12%;}
        &:nth-child(2){max-width: 30%;}
        &:nth-child(3){max-width: 10%;}
        &:nth-child(4){max-width: 9%;}
        &:nth-child(5){max-width: 10%;}
        &:last-child{max-width: 20%; margin-right: 0;}
    }
    .mat-form-field{width: 100%;}
    .mat-input-element:disabled{color: var(--primary-color);}
}
.line2{
    .item{width: 100%;max-width: 25%;margin-right: 5px;
        &:last-child{max-width: 20%; margin-right: 0;}
    }
}

.spacer{height: 40px;}

.promotionFormBox{
    .listBox{height: auto;max-height: 100px;margin-top: 5px;}
    .listAlign{
        &.shortLine{padding: 0;}
        .item{max-width: 20%;min-height: 15px}
    }
}

.productPromotionListBox{width: 50%;
    .listAlign {
        .item {
            &:nth-child(1) {max-width: 30%;}
            &:nth-child(2) {max-width: 30%;}
            &:nth-child(3) {max-width: 30%;}
            &:last-child {max-width: 10%;}
        }
    }
}
