<div class="main firstAccess">
    <div class="bg-firstAccess">
        <img src="assets/img/bg-login.jpg" alt="bg">
    </div>
    <div class="container">
        <div class="topBlock">
            <a href="https://iopoint.com.br/" title="iopoint.com.br" class="logoBox clickPlace">
                <img class="img-logo" src="assets/img/logo-azul.png" alt="logo-Iopoint">
            </a>
        </div>
        <div class="middleBlock login shdw1">
            <div class="contentBlock login">
                <div class="formBox" [formGroup]="passwordResetForm">

                    <div class="form-group inputAnimated">
                        <input [formControlName]="'email'" autocomplete="off" id="email" placeholder="" required type="text">
                        <label class="form-label" for="email">E-mail</label>
                    </div>
                    <p class="sizeC pdgB1 mrgT1 mrgB2">Informe o e-mail utilizado no cadastro</p>
                    <div class="flex">
                        <button class="btn center btn-primary-bg" (click)="passwordReset()">Recuperar</button>
                    </div>
                    <div class="registerText mrgT2">
                        <span class="sizeD linkDefaut clickPlace"[routerLink]="['/form']">Retornar</span>
                    </div>
                    <!--                <div class="registerText">-->
                    <!--                    <h3 class="sizeA">Não tem uma conta?</h3>-->
                    <!--                </div>-->
                    <!--                <div class="flex">-->
                    <!--                    <a [routerLink]="['/form']" class="btn center white shdw">Entrar</a>-->
                    <!--                </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
