.fsMenu{position: relative;width: 100%;max-width: 80px;height: 100%;
    *{transition: all .2s ease;}
    .fsMenuTop{padding: 20px 0;margin: 0;
        .fsMenuLogoBox{
            img{}
        }
    }
    .fsMenuListBox{
        ul.fsMenuList{list-style: none;height: 100%;padding: 0;border-top: 1px solid var(--secondary-color);margin: 0;
            li{position: relative;margin: 0;
                .menuItem{padding: 10px 0;}
                .menuPop{position: absolute;top: 0;left: 0;width: 180px;transform: translate(-100px, 0);opacity: 0;overflow: hidden;margin: 0;z-index: -1;
                    a{display: block;padding: 5px 10px;text-decoration: none;}
                }
                &.active{
                    .menuPop{max-width: none;transform: translate(80px, 0);opacity: 1;margin: 0;z-index: 1;}
                }
            }
        }
    }
}
.menuItem:hover, .menuPop a:hover{background-color: rgba(255,255,255,0.1);box-shadow: inset 0 0 5px rgba(255,255,255,0.2);}
@media (max-width: 920px) {}
@media (max-width: 768px) {}
