<div class="fsMenu bg-green">
    <div class="fsMenuTop">
        <div [routerLink]="['/home']" class="fsMenuLogoBox clickPlace">
            <img src="assets/img/logo.png" alt="logo" class="">
        </div>
    </div>

    <div class="fsMenuListBox">
        <ul class="fsMenuList">
            <li (click)="toogleClass(1)" [ngClass]="menuToggle == 1 ? 'active' : ''">
                <span class="flex center menuItem clickPlace">
                    <fa-icon [icon]="iconSolidService.faPills" size="3x" class="iconItem iconSizeD cl-white" title="Produtos"></fa-icon>
                </span>
                <div class="menuPop bg-green">
                    <a [routerLink]="['/product']" class="sizeA cl-white clickPlace" title="Produtos">Produtos</a>
                    <a [routerLink]="['/batch']" class="sizeA cl-white clickPlace" title="Lotes/Validade">Lotes/Validade</a>
                    <a [routerLink]="['/product-guide']" class="sizeA cl-white clickPlace" title="Guia farmácia">Guia farmácia</a>
                    <a [routerLink]="['/promotion-list-test']" class="sizeA cl-white clickPlace" title="Guia farmácia">Custo Contabil</a>
                </div>
            </li>
            <li (click)="toogleClass(2)" [ngClass]="menuToggle == 2 ? 'active' : ''">
                <span class="flex center menuItem clickPlace">
                    <fa-icon [icon]="iconSolidService.faPercentage" size="3x" class="iconItem iconSizeD cl-white" title="Promoções"></fa-icon>
                </span>
                <div  class="menuPop bg-green">
                    <a [routerLink]="['/promotion']" class="sizeA cl-white clickPlace" title="Promoções">Promoções</a>
                </div>
            </li>
            <li (click)="toogleClass(3)" [ngClass]="menuToggle == 3 ? 'active' : ''">
                <span class="flex center menuItem clickPlace">
                    <fa-icon [icon]="iconSolidService.faComments" size="3x" class="iconItem iconSizeD cl-white" title="Notificações"></fa-icon>
                </span>
                <div  class="menuPop bg-green">
                    <a [routerLink]="['/notification']" class="sizeA cl-white clickPlace" title="Notificações">Notificações</a>
                </div>
            </li>
            <li *ngIf="userAdmin" (click)="toogleClass(4)" [ngClass]="menuToggle == 4 ? 'active' : ''">
                <span class="flex center menuItem clickPlace" title="Configurações">
                    <fa-icon [icon]="iconSolidService.faCogs" size="3x" class="iconItem iconSizeD cl-white" ></fa-icon>
                </span>
                <div  class="menuPop bg-green">
                    <a [routerLink]="['/configuration']" class="sizeA cl-white clickPlace" title="Configurações">Configurações</a>
                    <a [routerLink]="['/user']" class="sizeA cl-white clickPlace" title="Usuários">Usuários</a>
                </div>
            </li>

        </ul>
    </div>
</div>
