.btnBox{margin: 6px 10px 0 -150px;z-index: 2;}
.wdHere{width: 100%; max-width: 138px;}
.listAlign{
    &.listHeader{background: var(--cl-green);
        h3{color: var(--secondary-color);}
    }
    .item{
        &:nth-child(1){max-width: 120px;}
        &:nth-child(2){max-width: 300px;}
        &:nth-child(3){max-width: 80px;}
        &:nth-child(4){max-width: 110px;overflow: hidden;}
        &:nth-child(5){max-width: 80px;}
        &:nth-child(6){max-width: 50px;}
        &:last-child{max-width: 120px;text-align: right;}
    }
}
