<div class="main">
    <div class="container">
        <div class="notificationBox bg-gray-light">
            <div class="flex pdgT2 pdgL2 mrgB2">
                <h2 class="sizeA fontBold">Estoque Simples</h2>
            </div>
            <div class="promotionListBox pdg2">
                <div class="pdgB1 borderBottom">
                    <fs-search-line [placeholderText]="'Código de barra, Nome...'"  (onKeyPress)="filterProductSearch($event)"></fs-search-line>
                </div>
                <div class="listBoxSlideMob" [formGroup]="productForm">
                    <div class="flex listAlign listHeader">
                        <h3 class="item sizeC clickPlace">barras</h3>
                        <h3 class="item sizeC clickPlace">Nome</h3>
                        <h3 class="item sizeC clickPlace" >Estoque</h3>
                        <h3 class="item sizeC clickPlace" >Minimo</h3>
                        <h3 class="item sizeC clickPlace" >Demanda</h3>
                    </div>
                    <ul class="listBox" [formArrayName]="'lines'">
                        <li *ngFor="let product of productListFilteredSearch;let productIndex = index" [formGroupName]="productIndex" class="flex top listAlign">
                            <span class="item sizeC">{{product['bar_code']}}</span>
                            <span class="item sizeC">{{product['description']}}</span>
                            <span class="item sizeC simOff {{product['stock_simple'].length > 1 ? 'block' : ''}}"><span *ngFor="let extra of product['stock_simple']; let extraIndex = index" class="flex">{{extraIndex+1}}: {{extra['stock']}}</span></span>
                            <span class="item sizeC simOff {{product['stock_simple'].length > 1 ? 'block' : ''}}"><span *ngFor="let extra of product['stock_simple']; let extraIndex = index" class="flex">{{extraIndex+1}}: {{extra['minimal']}}</span></span>
                            <span class="item sizeC simOff {{product['stock_simple'].length > 1 ? 'block' : ''}}"><span *ngFor="let extra of product['stock_simple']; let extraIndex = index" class="flex">{{extraIndex+1}}: {{extra['demand']}}</span></span>
                        </li>
                        <li *ngIf="productListFilteredSearch.length == 0">
                            <p class="sizeC" *ngIf="productList.length > 0 && productList[0]['loading']">Carregando...</p>
                            <p class="sizeC" *ngIf="productList.length > 0 && !productList[0]['loading'] && productListFilteredSearch.length == 0">Nenhum produto correspondente.</p>
                            <p class="sizeC" *ngIf="productList.length == 0">Nenhum produto encontrado.</p>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>

