<div *ngIf="!datepickerMonth && !datepickerYear" class="relativePlace">
    <span (click)="picker.open()" class="inputCover"></span>
    <mat-form-field [formGroup]="dateForm">
        <mat-label class="cl-gray">{{labelText}}</mat-label>
        <input #date (dateChange)="dateEmit(date.value)" [formControlName]="'date'" [min]="functionsService.getDayAfter(minDate)" [max]="functionsService.getDayAfter(maxDate)"  matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>
                <fa-icon [icon]="iconSolidService.faCalendarAlt" size="1x" class="iconItem iconSizeF cl-gray-dark"></fa-icon>
            </mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker  #picker [startAt]="startDateBr"></mat-datepicker>
    </mat-form-field>
</div>
<div *ngIf="datepickerMonth" class="relativePlace">
    <span (click)="pickerMonth.open()" class="inputCover"></span>
    <mat-form-field [formGroup]="dateForm">
        <span class="labelDetail">{{labelText}}</span>
        <span>{{dateSelectedMonth+'/'+dateSelectedYear}}</span>
        <input [formControlName]="'date'" [min]="functionsService.getDayAfter(minDate)" [max]="functionsService.getDayAfter(maxDate)"  matInput [matDatepicker]="pickerMonth" class="hide">
        <mat-datepicker-toggle matSuffix [for]="pickerMonth">
            <mat-icon matDatepickerToggleIcon>
                <fa-icon [icon]="iconSolidService.faCalendarAlt" size="1x" class="iconItem iconSizeF cl-gray-dark"></fa-icon>
            </mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker  #pickerMonth startView="year"  (monthSelected)="chosenMonthHandler($event);pickerMonth.close()" [calendarHeaderComponent]="customHeader" [startAt]="startDateBr"></mat-datepicker>
    </mat-form-field>
</div>
