.example-header{display: flex;align-items: center;padding: 10px;}
.example-header-label{flex: 1;height: 1em;font-weight: 500;text-align: left;margin: 0}
.example-header .arrow{display: inline-block;width: 40px;padding: 10px 0;cursor: pointer;line-height: 20px;border-radius: 50px;
    &:first-child{margin-left: 10px;}
    &:hover{background-color: rgba(0,0,0,0.05);}
    fa-icon{display: block;width: 10px;margin: 0 auto;font-size: 14px;}
}

div.relativePlace{height: 45px;overflow: hidden;
    mat-label {color: #444444;}
    .inputCover {position: absolute;top: 0;left: 0;width: 100%;height: 100%;cursor: pointer;z-index: 2}
    .input{z-index: 0;}
    .mat-form-field{width: 100%;}
    .mat-form-field-appearance-legacy .mat-form-field-infix{padding-top: 4px;}
}

mat-icon .iconItem{display: block;width: 17px;height: 16px;margin: -1px 0 0;
    fa-icon{max-width: 17px;max-height: 16px;}
    svg.svg-inline--fa{max-width: 17px;max-height: 16px;}
}
.mat-form-field.mat-form-field-appearance-legacy{
    .mat-form-field-infix{padding: 4px 0;}
    .mat-form-field-label{color: #444444;}
}
.mat-form-field-label-wrapper{padding-top: 10px;}

.labelDetail{position: absolute;top: -14px;left: -5px;font-size: 14px;transform: translateY(0) scale(0.75) perspective(100px) translateZ(0);}
