.btnBox{margin: 6px 10px 0 -150px;z-index: 2;}
.listAlign{
    &.listHeader{background: var(--cl-green);
        h3{color: var(--secondary-color);}
    }
    .item{overflow: hidden;}
}
.promotionList{
    .listAlign .item{
        &:nth-child(1){max-width: 200px;}
        &:nth-child(2){max-width: 100px;}
        &:nth-child(3){max-width: 100px;}
        &:nth-child(4){max-width: 100px;}
        &:nth-child(5){max-width: 230px;}
        &:last-child{max-width: 110px;text-align: right;}
    }
}
.analyseList{
    .listAlign .item{
        &:nth-child(1){max-width: 200px;}
        &:nth-child(2){max-width: 100px;}
        &:nth-child(3){max-width: 100px;}
        &:nth-child(4){max-width: 100px;}
        &:nth-child(5){max-width: 230px;}
        &:nth-child(6){max-width: 80px;text-align: right}
    }

}
