<div class="main">
    <div class="container">
        <div class="notificationBox bg-gray-light">
            <div class="flex pdgT2 pdgL2 mrgB2">
                <h2 class="sizeA fontBold">Promoções</h2>
            </div>
            <div class="flexDesk top">
                <div class="flexDesk wdFull">
                    <mat-tab-group class="wdFull" mat-align-tabs="start">
                        <mat-tab label="Ativas">
                            <div class="pdg2">
                                <div  class="listBoxSlideMob promotionList">
                                    <div class="flex listAlign listHeader">
                                        <h3 class="item sizeC">Nome</h3>
                                        <h3 class="item sizeC">Prioridade</h3>
                                        <h3 class="item sizeC">Data inicio</h3>
                                        <h3 class="item sizeC">Data fim</h3>
                                        <h3 class="item sizeC">Dia da Semana</h3>
                                        <h3 class="item sizeC">Ação</h3>
                                    </div>
                                    <ul class="listBox">
                                        <li *ngFor="let promotion of promotionListStatus1FilteredSearch" class="flex top listAlign">
                                            <span class="item sizeC">{{promotion['name']}}</span>
                                            <span class="item sizeC">{{promotion['priority']}}</span>
                                            <span class="item sizeC">{{promotion['begin_date'].split('-').reverse().join('/')}}</span>
                                            <span class="item sizeC">{{promotion['end_date'].split('-').reverse().join('/')}}</span>
                                            <span class="item sizeC">{{showWeekDay(promotion['day_of_week'])    }}</span>
                                            <span class="item">
                                                <fa-icon [routerLink]="['/promotion-list-product']" [state]="{promotionIdSelected: promotion['id']}" [icon]="iconSolidService.faPills" size="3x" class="iconItem iconSizeG cl-gray-dark clickPlace mrgR1" title="Produtos"></fa-icon>
                                                <fa-icon [routerLink]="['/product']" [state]="{promotionIdSelected: promotion['id']}" [icon]="iconRegularService.faEye" size="3x" class="iconItem iconSizeG cl-gray-dark clickPlace mrgR1" title="Ver produtos"></fa-icon>
                                                <fa-icon (click)="showModalPromotion(promotion['id'])" [icon]="iconRegularService.faEdit" size="3x" class="iconItem iconSizeG cl-gray-dark clickPlace" title="Editar promoção"></fa-icon>
                                                <fa-icon (click)="showModalDeletePromotion(promotion['id'])" [icon]="iconSolidService.faTrashAlt" size="3x" class="iconItem iconSizeG cl-gray-dark clickPlace mrgL1" title="Encerrar promoção"></fa-icon>
                                            </span>
                                        </li>
                                        <li *ngIf="promotionListStatus1FilteredSearch.length == 0">
                                            <p class="sizeC" *ngIf="promotionListStatus1.length > 0 && promotionListStatus1[0]['loading']">Carregando...</p>
                                            <p class="sizeC" *ngIf="promotionListStatus1.length > 0 && !promotionListStatus1[0]['loading'] && promotionListStatus1FilteredSearch.length == 0">Nenhuma promoção correspondente.</p>
                                            <p class="sizeC" *ngIf="promotionListStatus1.length == 0">Nenhuma promoção encontrada.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Encerradas">
                            <div class="pdg2">
                                <div  class="listBoxSlideMob">
                                    <div class="flex listAlign listHeader">
                                        <h3 class="item sizeC">Descrição</h3>
                                        <h3 class="item sizeC">Prioridade</h3>
                                        <h3 class="item sizeC">Data inicio</h3>
                                        <h3 class="item sizeC">Data fim</h3>
                                        <h3 class="item sizeC">Dia da Semana</h3>
                                    </div>
                                    <ul class="listBox">
                                        <li *ngFor="let promotion of promotionListStatus2FilteredSearch" class="flex top listAlign">
                                            <span class="item sizeC">{{promotion['name']}}</span>
                                            <span class="item sizeC">{{promotion['priority']}}</span>
                                            <span class="item sizeC">{{promotion['begin_date'].split('-').reverse().join('/')}}</span>
                                            <span class="item sizeC">{{promotion['end_date'].split('-').reverse().join('/')}}</span>
                                            <span class="item sizeC">{{showWeekDay(promotion['day_of_week'])}}</span>
                                        </li>
                                        <li *ngIf="promotionListStatus2FilteredSearch.length == 0">
                                            <p class="sizeC" *ngIf="promotionListStatus2.length > 0 && promotionListStatus2[0]['loading']">Carregando...</p>
                                            <p class="sizeC" *ngIf="promotionListStatus2.length > 0 && !promotionListStatus2[0]['loading'] && promotionListStatus2FilteredSearch.length == 0">Nenhuma promoção correspondente.</p>
                                            <p class="sizeC" *ngIf="promotionListStatus2.length == 0">Nenhuma promoção encontrada.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Em Análise">
                            <div class="pdg2">
                                <div  class="listBoxSlideMob analyseList">
                                    <div class="flex listAlign listHeader">
                                        <h3 class="item sizeC">Descrição</h3>
                                        <h3 class="item sizeC">Prioridade</h3>
                                        <h3 class="item sizeC">Data inicio</h3>
                                        <h3 class="item sizeC">Data fim</h3>
                                        <h3 class="item sizeC">Dia da Semana</h3>
                                        <h3 class="item sizeC">Ação</h3>
                                    </div>
                                    <ul class="listBox">
                                        <li *ngFor="let promotion of promotionListStatus3FilteredSearch" class="flex top listAlign">
                                            <span class="item sizeC">{{promotion['name']}}</span>
                                            <span class="item sizeC">{{promotion['priority']}}</span>
                                            <span class="item sizeC">{{promotion['begin_date'].split('-').reverse().join('/')}}</span>
                                            <span class="item sizeC">{{promotion['end_date'].split('-').reverse().join('/')}}</span>
                                            <span class="item sizeC">{{showWeekDay(promotion['day_of_week'])}}</span>
                                            <span class="item">
                                                <fa-icon (click)="showModalPromotion(promotion['id'])" [icon]="iconRegularService.faEdit" size="3x" class="iconItem iconSizeG cl-gray-dark clickPlace" title="Editar promoção"></fa-icon>
                                                <fa-icon [routerLink]="['/promotion-analyse/'+promotion['id']]" [state]="{promotionId: promotion['id']}" [icon]="iconRegularService.faChartBar" size="3x" class="iconItem iconSizeG cl-gray-dark clickPlace mrgL1" title="Analisar promoção"></fa-icon>
                                                <fa-icon (click)="showModalDeletePromotion(promotion['id'])" [icon]="iconSolidService.faTrashAlt" size="3x" class="iconItem iconSizeG cl-gray-dark clickPlace mrgL1" title="Encerrar promoção"></fa-icon>
                                            </span>
                                        </li>
                                        <li *ngIf="promotionListStatus3FilteredSearch.length == 0">
                                            <p class="sizeC" *ngIf="promotionListStatus3.length > 0 && promotionListStatus3[0]['loading']">Carregando...</p>
                                            <p class="sizeC" *ngIf="promotionListStatus3.length > 0 && !promotionListStatus3[0]['loading'] && promotionListStatus3FilteredSearch.length == 0">Nenhuma promoção correspondente.</p>
                                            <p class="sizeC" *ngIf="promotionListStatus3.length == 0">Nenhuma promoção encontrada.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
                <div class="btnBox">
                    <button (click)="showModalPromotion()" class="btn btn-primary-bg">Cadastrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<fs-promotion-modal-form
    [showModal]="modalPromotion"
    [promotionId]="promotionSelectedId"
    (promotionPosted)="getPromotionList()"
    (promotionUpdated)="getPromotionList()"
    (hideModal)="hideModalPromotion()">
</fs-promotion-modal-form>

<fs-modal-confirm
    [showModal]="modalDeletePromotion"
    [title]="'Excluir promoção'"
    [text]="'Deseja excluir esta promoção?'"
    [btnText]="'Excluir'"
    (confirmClick)="deletePromotion()"
    (hideModal)="hideModalDeletePromotion()"
></fs-modal-confirm>
